/* Footprints CSS
 * by Rachelle White
 * ccnmtl.columbia.edu
 * 2015
 */


/* General Typography */

body, html {
	font-family: 'Asap', Helvetica, Arial, sans-serif;
	}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Asap', Arial, Helvetica;
}

a {
color: #2e5367;
text-decoration: none;
}

p.info {
	color: #737373;
}

/* Structure */

body, html {
	height: 100%;
	}

body {
	background-color: #edeae6;
}

#wrap {
	position: relative;
	margin-bottom: -45px;
}

#outer-container {
	background-color: #fafafa;
}

.content {
  min-height: 100%;
  margin: 1em 0 1em 0;
}

blockquote {
    border-left: 0;
}

.blockquote-list {
    font-size: 15.5px;
    font-weight: 300;
    line-height: 1.75;
}


/* Login Modal */
#login-modal .login-uni-button {
  border: 0;
  padding-right: 10px;
  color: #fff;
}
#login-modal .login-uni-button:hover{
	color: #fff;
	background-color: #406777;
	border-color: #406777;
}
/* All pages */


.container.header {
	background-image: url("../img/fp_header_bg.jpg");
	background-repeat: repeat;
	height: 80px;
	padding: 0;
}

.navbar-header {
	width: 100%;
	text-align: center;
	display: block;
	float: none;
	padding: 0;
	height: 77px;
}

.page-header {
	border: none;
	padding-bottom: 0;
	margin:20px 0 0 0;
}

.page-header h1 {
	color: #202836;
	padding: 0 10px;
}

 
.collapse.navbar-collapse {
background-color: #97421b;
height: 25px!important;
display: block!important;
float: left;
width: 100%;
}

.container.header .navbar-right {
	height: 25px;
}


.container.header .navbar-default {
	background-color: transparent;
	border: none;
}


.navbar-nav>li>a {
	padding-top: 3px;
	color: #d3c1a2!important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .95em;
	letter-spacing: 1px;
	outline: none;
}

.navbar-nav>li>a:hover {
	padding-top: 3px;
	color: #edebe6!important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .95em;
	letter-spacing: 1px;
}

/* Header FRONT PAGE ONLY */

.container.header.front {
	background-image: url("../img/fp_header_bg.jpg");
	background-repeat: repeat;
	height: 235px;
}

.container.header.front > .navbar-default {
	background-color: transparent;
	border: none;
	display: block;
	height: 195px;
}

.navbar-header.front {
	width: 100%;
	text-align: center;
	display: block;
	height: 195px;
	float: left;
}

a.navbar-brand.front {
	display: block;
	float: none;
	width: 355px;
	margin: 2em auto;
}


a.navbar-brand {
	display: block;
	margin: 0;
}

ul.front.navbar-nav {
	text-align: center;
	margin: 0 auto;
	float: none;
}

ul.front.navbar-nav li {
	padding: 0 30px 0 0;
	float: none;
	display: inline-block;
}

ul.front>li>a:hover {
text-decoration: none;
background-color: transparent;
}

.nav>li>a:focus {
  text-decoration: none;
 background-color: transparent;
}

/* Footer */

.container.foot {
	background-color: #171717;
}

.clearfooter {
	height: 50px;
	clear: both;
}

.footer {
	background-color: #171717;
	height: 100px;
	position: relative;
	margin: 1em 0 0 0;
	bottom: 0;
}

.footer .nav li>a {
	color: white !important;
	text-transform: none !important;
	font-weight: inherit;
}

.footer .nav li>a:hover {
	color: #edebe6;
	background-color: transparent;
}

.footer .footer-branding {
    color: white;
}

.footer .footer-branding a {
    color: #d3c1a2;    
}

.footer .footer-branding a:hover {
    color: #edebe6;
    text-decoration: none;
}


/* Homepage */

.col-md-12.featured {
	height: 500px;
	margin-top: -1em;
	background-image: url("../img/fp_home_feat_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}



/* Record Entry */
.btn-image-only {
    border: 0;
    background-color: transparent;
    margin-top: -6px;
}

/* Author autocomplete */
ul.selected-authors {
    list-style: none;
    padding: 5px 10px 5px 0;
}

ul.selected-authors li {
    padding: 5px 10px 5px 5px;
    color: #563d7c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.author-delete {
    cursor: pointer;
}



/* Form Overrides */

input.form-control {
	display: block;
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #efeeee;
	background-image: none;
	border: 1px solid #fff;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-primary, .btn-default {
	color: #fff;
	background-color: #2e5367;
	border-color: #2e5367;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #406777;
	border-color: #406777;
}

/* Create Footprint */

ul.wizard-tabs.has-error li.active a {
    background-color: #a94442;
}

.footprint-form .form-content {
    
}

.footprint-form .form-content h3 {
    margin-top: 10px;
    color: #836737;
}

.footprint-form .form-group .error-block {
    display: none;
    color: #a94442;
    margin: 10px;
}

.footprint-form .form-group.has-error .error-block {
    display: block;
    float: right;
}

.footprint-form .form-group.has-error .help-block {
    color: #737373;
}

.footprint-form input[name='footprint-medium-other'] {
    margin-top: 5px;
    width: 50%;
}

.fp-qa {
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	padding: 10px 20px;
	margin: 0 0 10px 0;
}

.fp-qa h4 {
	color: #2e5367
}

.fp-qa span.qa {
	font-size: 18px;
	color: #836737;
	
}

.tab-content.well {
	border: none;
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
}


/* Footprint Details */


.writtenwork,
.footprint-detail {
	border-radius: 4px;
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px 20px 10px 10px;
}

img.footicon {
	height: 40px;
}

.footprint-detail > span.object-title {
	color: #202836;
}


/* Carousel */

.carousel-controls {
    margin: 5px 0 10px 0;
}

#carousel-modal .modal-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: black;
    border: 0;
}

#carousel-modal .modal-header {
    border-bottom: none;
}

#carousel-modal .modal-header .close {
    margin-top: -12px;
    font-size: 20px;
    color: #fff;
    opacity: .5;
}

#carousel-modal .modal-header .close:hover {
    opacity: 1;
}

#carousel-modal .item img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

#carousel-modal .carousel-control.right {
    right: -40px;
    background-image: none;
}

#carousel-modal .carousel-control.left {
    background-image: none;
    left: -40px;
}

/* Object detail pages */

.object-detail {
	padding-top: 1em;
}

.object-detail .breadcrumb {
	margin-bottom: 10px;
	background: transparent;
	color: #836737;
	font-weight: normal;
	font-size: 20px;
}

.object-detail .breadcrumb a {
	font-size: 14px;
}

.object-detail h1 {
    padding: 10px;
    color: #373e4d;
    vertical-align: middle;
    margin-top: 0;
}

.object-detail h1 .object-title {
    width: 85%;
    margin-left: 20px;
}

.object-detail h3 {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px;
}

.object-detail .highlight {
    background-color: lightyellow;
}

.object-detail dl dt small {
    font-weight: normal;
    font-style: italic;    
}

.object-detail dl dt {
    padding-top: 5px;
    padding-bottom: 2px;
}

.object-detail dl dd {
	margin-left: 0;
	padding-left: 200px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.object-detail dl dd.border-bottom {
    border-bottom: dotted 1px #ccc;
}

.object-detail dl dt span.glyphicon-question-sign {
    color: #d3c1a2;
}

.object-detail span.glyphicon-asterisk {
    color: #97421b;
    font-size: .65em;
}

.object-detail .sidebar-box {
    border: 1px solid #e9eaed;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.object-detail .progress {
    height: 10px;
    width: 65%;
}

.list-group-item.checklist {
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px 20px 20px 20px;
	border: none;
	border-radius: 4px;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #2e5367;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.sidebar-box.recordkeeping {
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px 20px 20px 20px;
	border: none;
	border-radius: 4px;
}

.object-detail .progress-report {
    color: #9197a3;
    font-size: 12px;
    line-height: 16px;
    margin-top: -3px;
}

.object-detail .readonly {
    text-decoration: none;
    border-bottom: 0;
    color: #333;
    cursor: text;
}

.object-detail .editable,
.object-detail .editable-click {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0;
    color: #333;
}

.object-detail .editable:hover {
    border-bottom: dashed 1px #333;
}

.object-detail .editable-inline,
.object-detail .form-inline,
.object-detail .form-group {
    width: 100% !important;
}

.object-detail .editable-input {
    width: 85%;
}

.object-detail .editable-input.wide {
    width: 94%;
}

.object-detail .editable-input input[type='text'],
.object-detail .editable-input textarea {
    width: 100%;
}

.object-detail .editable-buttons .editable-cancel {
    margin-left: 0px;
}

.object-detail .editable-buttons .editable-submit {
    margin-right: 7px;
}

.object-detail .remove-footprint-actor {
    cursor: pointer;
}

.object-detail .editable-input .form-group {
    margin-top: 10px;
}

.object-detail .do-you-know {
    color: #97421b;
    text-decoration: none;
}

.object-detail .do-you-know:hover {
    text-decoration: underline;
    border-bottom: 0;
}

.object-detail .glyphicon-question-sign {
    vertical-align: top;
    margin-top: 2px;
}

.object-detail .imprint-map {
    margin: 0 50px;
    width: 90%;
    height: 300px;    
}

.object-detail .footprint-map {
    width: 100%;
    height: 200px;    
}

.object-detail ul.record-checklist li.list-group-item small {
    margin-left: 22px;
}

.object-detail .crop {
    width: 100px;
    height: 75px;
    overflow: hidden;
}


.connect-record-prompt {
	width: 350px!important;
	min-width: 250px;
	border-radius: 4px;
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px;
} 

.connect-record-prompt .list-group-item {
	border: none;
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px;
}


.connect-record-prompt h4 {
	color: #836737;
}


.object-detail .connect-record-container .select2-container {
    width: 100%;
    font-size: 12px;
    display: block;
}

.object-detail .connect-record-container .select2-container.book .select2-chosen,
.object-detail .connect-record-container .select2-container.imprint .select2-chosen {
    color: black;
}

.object-detail .connect-record-container .select-object {
    width: 100%;
    font-size: 14px;
}

.object-detail .connect-record-container .save-connection {
    margin-left: 10px;
}


.book-detail {
	border-radius: 4px;
	background-image: url("../img/fp_section_bg.png");
	background-repeat: repeat;
	box-shadow: none;
	margin: 0 0 20px 0;
	padding: 10px 20px 10px 10px;
}

.object-detail.writtenwork .imprint-list-item {
    padding: 20px;
    margin: 20px 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}

.object-detail.writtenwork .imprint-list-item table {
    margin: 0 50px;
    width: 90%;
}

/** xeditable fields **/
.editable-person {
    padding: 20px;
}

.editable-place .map-container {
    width: 116%;
    height: 300px;
    margin-top: 10px;
}

.editable-digital-object ul.filelist {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
}

.editable-digital-object .editable-upload {
    float: right;
}


/* Additional Information */
ul.additional-questions {
    list-style: none;
    padding-left: 0px;
}

ul.additional-questions li {
    margin-bottom: 10px;
}

ul.additional-questions .editable-container {
    padding: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
}

/* Browse */
.object-browse .panel-body {
    padding: 0;
}

.object-browse .tools {
    margin: 20px 0;
}

.object-browse .pagination {
    margin: -4px 0 0 30px;
}

.object-browse .pagination>li>a,
.object-browse .pagination>li>span {
    color: #2e5367;
}

.object-browse .pagination>.active>a,
.object-browse .pagination>.active>span,
.object-browse .pagination>.active>a:hover,
.object-browse .pagination>.active>span:hover,
.object-browse .pagination>.active>a:focus,
.object-browse .pagination>.active>span:focus {
  color: #fff;
  background-color: #2e5367;
  border-color: #2e5367;
}

.object-browse table {
    margin-top: 20px;
}

.object-browse table th.title {
    width: 16%;
}

.object-browse table th.footprint-date {
    width: 16%;
}

.object-browse table th.evidence-type {
    width: 16%;
}

.object-browse table th.evidence-location {
    width: 16%;
}

.object-browse table th.owners {
    width: 16%;
}

.object-browse table th.imprint-date {
    width: 16%;
}

.object-browse .page-count {
    font-size: 16px;
}

/* Search Page & Browse Pages */

.object-search .panel-body {
    padding: 0;
}

.object-search .pagination {
    margin: 0;
}

.object-search ul {
    list-style: none;
}

.object-search ul li label {
    font-weight: normal;
}

.object-search .search-result {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.object-search .search-result h4 {
    margin-top: 0;
    font-weight: normal;
}

.object-search .search-result div {
    margin-left: 25px;
}

.object-search .search-result:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.object-search .no-results h4 {
    margin-left: 10px;
}

/* LOGIN PAGE */
.login-uni-button {
    border: 0;
    padding-right: 0;
    color: #999;
}

/* Admin area record entry styles */
.mce-container,.mce-container *,.mce-widget,.mce-widget *,.mce-reset,mce-content-body {
    font-size: 12px !important;
}
.change-form div.select2-container {
    width: 300px;
    font-size: 12px;
}
.change-form .select2-container-multi .select2-choices .select2-search-field input {
    font-size: 12px;
}