html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

body > .container {
  background-color: #fff;
  min-height: 100%;
  padding-top: 75px;
}

#content {
  min-height: 100%;
}

/* Record Entry */
.blockquote-list {
    font-size: 15.5px;
    font-weight: 300;
    line-height: 1.25;
}

/* LOGIN PAGE */
.login-uni-button {
    border: 0;
    padding-right: 0;
    color: #999;
}

/* Admin area record entry styles */
.mce-container,.mce-container *,.mce-widget,.mce-widget *,.mce-reset,mce-content-body {
    font-size: 12px !important;
}
div.select2-container {
    width: 300px;
    font-size: 12px;
}
.select2-container-multi .select2-choices .select2-search-field input {
    font-size: 12px;
}