/* Footprints CSS
 * by Rachelle White
 * Zarina Mustapha
 * ctl.columbia.edu
 * 2015
 */

/* General Typography */

body, html {
    font-family: 'Asap', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Asap', Arial, Helvetica;
}

a {
    color: #2e5367;
    text-decoration: none;
}

a:hover {
    color: #202836;
}

p.info {
    color: #737373;
}

/* Structure */

body, html {
    height: 100%;
}

body {
    background-color: #edeae6;
}

#wrap {
    position: relative;
    margin-bottom: -45px;
}

#outer-container {
    background-color: #fafafa;
}

.content {
    min-height: 100%;
    margin: 1em 0 1em 0;
}

blockquote {
    border-left: 0;
}

.blockquote-list {
    font-size: 15.5px;
    font-weight: 300;
    line-height: 1.75;
}

/* Login Modal */
#login-modal .login-uni-button {
    font-weight: 200;
    color: #999;
    border: none;
    background: none;
    line-height: normal;
    float: right;
    font-size: 11px;
    margin-right: -12px;
}

#login-modal .login-uni-button:hover {
    color: #fff;
    background-color: #406777;
    border-color: #406777;
}

/* All pages */

.container.header {
    background-image: url("../img/fp_header_bg.jpg");
    background-repeat: repeat;
    height: 80px;
    padding: 0;
}

.navbar-header {
    width: 100%;
    text-align: center;
    display: block;
    float: none;
    padding: 0;
    height: 77px;
}

.page-header {
    border: none;
    padding-bottom: 0;
    margin: 20px 0 0 0;
}

.page-header h1 {
    color: #202836;
    padding: 0 10px;
}

.collapse.navbar-collapse {
    background-color: #97421b;
    height: 25px !important;
    display: block !important;
    float: left;
    width: 100%;
}

.navbar-collapse.collapse.in {
  margin: 0;
  height: 195px;
  position: relative;
}

.navbar-collapse.collapse.in ul {
    float: left;
}

.in ul.front.navbar-nav li {
    display: block;
    clear: both;
}

.container.header .navbar-right {
    height: 25px;
}

.container.header .navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-nav > li > a {
    padding-top: 3px;
    color: #d3c1a2 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .95em;
    letter-spacing: 1px;
    outline: none;
}

.navbar-nav > li > a:hover {
    padding-top: 3px;
    color: #edebe6 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .95em;
    letter-spacing: 1px;
}

/* Header FRONT PAGE ONLY */

.container.header.front {
    background-image: url("../img/fp_header_bg.jpg");
    background-repeat: repeat;
    height: 150px;
}

.container.header.front > .navbar-default {
    background-color: transparent;
    border: none;
    display: block;
    height: 125px;
}

.navbar-header.front {
    width: 100%;
    display: block;
    height: 125px;
    float: left;
}

a.navbar-brand.front {
  display: block;
  float: left;
  width: 250px;
  height: inherit;
  margin: 1em 0 0 1em;
}
a.navbar-brand.front.cjh {
  display: block;
  float: left;
  width: 126px;
  height: inherit;
  margin: 1.7em 0 0 0;
}

.navbar-brand img {
    max-width: 100%;
}

a.navbar-brand {
    display: block;
    margin: 0;
}

ul.front.navbar-nav {
    text-align: center;
    margin: 0 auto;
    float: none;
}

ul.front.navbar-nav li {
    padding: 0 30px 0 0;
    float: none;
    display: inline-block;
}

ul.front > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

/* Footer */

.container.foot {
    background-color: #171717;
}

.clearfooter {
    height: 50px;
    clear: both;
}

.footer {
    background-color: #171717;
    position: relative;
    margin: 1em 0 0 0;
    bottom: 0;
    font-size: .95em;
}

.footer .footer-navigation {
  margin: 30px 0;
  padding: 0;
  color: #999;
  text-align: center;
  list-style: none;
}

.footer .footer-navigation li {
    display: inline-block;
    padding: 0 10px;
}

.footer .footer-navigation li a {
    color: #d3c1a2;
    text-decoration: none;
}

.footer .footer-navigation li a:hover {
    color: #ccc;
    text-decoration: none;
}

.footer .footer-branding {
  padding: 20px 0;
  color: #999;
  text-align: center;
}

.footer .footer-branding a {
    color: #d3c1a2;
}

.footer .footer-branding a:hover {
    color: #edebe6;
    text-decoration: none;
}

.footer p {
    display: block;
}

p.description1 {
    width: auto;
    margin: auto;
}

.footer .logos-ir {
    display: block;
    width: auto;
    margin-top: 15px;
}

.footer .logos-ir img {
    height: 25px;
}

.footer .logos-group1 {
    width: 501px;
    margin: auto;
}

.footer .description2 {
    padding-top: 20px;
}

ul.footer-logos {
    margin: 10px auto 10px auto;
    padding: 0;
    height: 30px;
}

ul.footer-logos li {
	list-style-type: none;
	display: inline;
	clear: none;
	float: left;
	margin: 0 10px 0 10px;
	}

.footer-logos img {
  height: 25px;
}

.footer-line3 img {
    height: 25px;
}

.footer-line1 {
    display: block;
}

.footer-line2 {
    display: block;
}

.footer-line3 {
    width: 216px;
    display: block;
}



/* Homepage */

/* Block outercontainer */

/* Block outercontainer Mobile */

.container.home {
    background-image: url("../img/fp_home_feat_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-intro-one {
    font-family: Arvo;
    font-weight: 400;
    font-size: 2em;
    color: #202836;
    line-height: 1.2em;
    text-align: center;
}
.emph {
    color: #97421b;
}
.home-intro-two {
    font-family: Asap;
    font-weight: 400;
    color: #202836;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
}
.home-search {
    background-color: #edebe6;
    min-height: 200px;
    padding: 1em 2em;
}
.home-search-one {
    font-family: Arvo;
    font-size: 2em;
    color: #97421b;
    text-align: center;
}
.home-search-two ul li {
    list-style-image: url("../img/fp_home_listitem.png");
    margin: 15px 0px -10px -6px;
}
.home-search-two .home-search-text {
    font-family: Asap;
    font-size: 1.1em;
    width: 60%;
    background-color: #e5d9ca;
    border-radius: 4px;
    border: solid 1px #fff;
    padding: 5px;
    margin: 1em 0 -5px 0;
}
.home-search-two .home-search-submit {
    background-color: #2e5367;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    margin: 1em .5em;
    font-family: Asap;
}
.home-search-two .home-search-submit:hover {
    background-color: #222a38;
}
.home-visual {
    display: none;
}
.home-visual-desc {
    display: none;
}

.visual-mobile {
    width: 100%;
    display: block;
    float: left;
    background-image: url("../img/fp_home_ex_visual.jpg");
    background-size: 100%;
    padding: 0;
}
.mobile-desc {
    background-color: #222a38;
    font-size: 1.15em;
    font-family: Arvo;
    color: #fff;
    padding: 10px 20px;
}
.visual-mobile ul {
    margin: 0 0 0 -39px;
}
.visual-mobile ul li {
    width: 100%;
    margin: 0;
    list-style-type: none;
    float: left;
    clear: both;
    padding: 10px 30px;
    background-image: url("../img/fp_mobile_map_bg.png");
    border-bottom: solid 1px #fff;
    font-family: Arvo;
    font-size: 1.5em;
    color: #fff;
}
.visual-mobile ul li:hover {
    background-image: none;
    background-color: #662d12;
}

.base-links .col-md-4 {
  padding: 20px 0;
  display: inline;
  clear: none;
  float: left;
  width: 33%;
  height: 100px;
}

.col-md-4.base-1 {
    background-image: url("../img/fp_base_link_1.png");
    text-align: center;
}
.col-md-4.base-2 {
    background-image: url("../img/fp_base_link_2.png");
    text-align: center;
}
.col-md-4.base-3 {
    background-image: url("../img/fp_base_link_3.png");
    text-align: center;
}
.link-lg {
  background: #fff;
  opacity: .8;
  height: 64px;
  margin: 2px 0 0 0;
  vertical-align: middle;
  padding: 10px 0px;
}
.link-lg a {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
}

@media (min-width: 550px) {
    .footer .logos-ir {
        display: inline;
        width: auto;
        margin: 0 10px;
    }
    .footer .logos-ir img {
        height: 30px;
    }
    .footer-line3 img {
        height: 35px;
    }
    .footer-line1 {
        margin: 10px auto 10px auto;
        padding: 0;
        width: 505px;
        display: block;
    }
    
    .footer-line2 {
        margin: 10px auto 10px auto;
        padding: 0;
        width: 424px;
        display: block;
    }
    
    .footer-line3 {
        margin: 10px auto 10px auto;
        padding: 0;
        width: 286px;
        display: block;
    }
}

/* Block outercontainer Tablet */
@media (min-width: 768px) {

    .container.home {
        background-image: url("../img/fp_home_feat_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .home-intro {
        display: block;
        background-image: url("../img/fp_home_intro_bg.png");
    }
    .home-intro-one {
        font-family: Arvo;
        font-weight: 400;
        font-size: 2.75em;
        color: #202836;
        line-height: 1.2em;
        text-align: left;
    }
    .home-intro-two {
        font-family: Arvo;
        font-weight: 400;
        color: #202836;
        font-size: 1.15em;
        line-height: 1.85em;
        margin: 1em 0;
    }
    .home-search {
        background-color: #edebe6;
        min-height: 200px;
        padding: 1em;
    }
    .home-search-one {
        font-family: Arvo;
        font-size: 2em;
        color: #97421b;
        text-align: left;
    }
    .home-search-two {
        font-family: Arvo;
        font-size: 1.1em;
        line-height: 1.75em;
    }
    .home-search-two ul li {
        list-style-image: url("../img/fp_home_listitem.png");
        margin: 15px 0px -10px -6px;
    }
    .home-search-two .home-search-text {
        font-family: Asap;
        font-size: 1.1em;
        width: 80%;
        background-color: #e5d9ca;
        border-radius: 4px;
        border: solid 1px #fff;
        padding: 5px;
        margin: 1em 0;
    }
    .home-search-two .home-search-submit {
        background-color: #2e5367;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 5px 10px;
        margin: 1em .5em;
        font-family: Asap;
    }
    .home-search-two .home-search-submit:hover {
        background-color: #222a38;
    }
    .home-visual {
        display: none;
    }
    .visual-mobile {
        width: 100%;
        display: block;
        float: left;
        background-image: url("../img/fp_home_ex_visual.jpg");
        background-size: 100%;
        padding: 0;
    }
    .mobile-desc {
        background-color: #222a38;
        font-size: 1.15em;
        font-family: Arvo;
        color: #fff;
        padding: 10px 20px;
    }
    .visual-mobile ul {
        margin: 0 0 0 -39px;
    }
    .visual-mobile ul li {
        width: 100%;
        margin: 0;
        list-style-type: none;
        float: left;
        clear: both;
        padding: 10px 30px;
        background-image: url("../img/fp_mobile_map_bg.png");
        border-bottom: solid 1px #fff;
        font-family: Arvo;
        font-size: 1.5em;
        color: #fff;
    }
    .visual-mobile ul li:hover {
        background-image: none;
        background-color: #662d12;
    }
    .link-lg {
      background: #fff;
      opacity: .8;
      height: 64px;
      margin: 2px 0 0 0;
      vertical-align: middle;
      padding: 20px 0px;
    }
	a.navbar-brand.front {
	display: block;
	float: left;
	width: 300px;
	height: inherit;
	margin: 1em 0 0 2em;
	}

	a.navbar-brand.front.cjh {
	display: block;
	float: right;
	width: 141px;
	height: inherit;
	margin: 1.8em 2em 0 0;
	}
		a.navbar-brand.cjh {
	  float: right;
	  width: 118px;
	}
	.footer .footer-branding {
  color: #999;
  text-align: center;
}

    .footer .footer-navigation li {
        padding: 0 20px;
    }
}


/* Block outercontainer Narrow Desktop */
@media (min-width: 992px) {

    .home-visual {
        display: initial;
          margin: 3em auto 1em 0;
    }
    .home-visual img {
        max-width: 100%;
        display: block;
    }
    .home-visual img {
        max-width: 100%;
        display: initial;
        border: solid 4px #fff;
    }

    .map-loc-1 {
        position: absolute;
        top: 107px;
        display: block;
        background-image: url("../img/fp_map_loc_1.png");
        width: 152px;
        height: 28px;
        left: 122px;
    }

    .map-loc-2 {
        position: absolute;
        top: 26px;
        display: block;
        background-image: url("../img/fp_map_loc_2.png");
        width: 152px;
        height: 28px;
        left: 384px;
    }
    .map-loc-3 {
        position: absolute;
        top: 56px;
        display: block;
        background-image: url("../img/fp_map_loc_3.png");
        width: 115px;
        height: 28px;
        left: 668px;
    }
    .map-loc-1:focus {
        position: absolute;
        top: 107px;
        display: block;
        background-image: url("../img/fp_map_loc_1_over.png");
        width: 152px;
        height: 28px;
        left: 122px;
    }

    .map-loc-2:focus {
        position: absolute;
        top: 26px;
        display: block;
        background-image: url("../img/fp_map_loc_2_over.png");
        width: 152px;
        height: 28px;
        left: 384px;
    }
    .map-loc-3:focus {
        position: absolute;
        top: 56px;
        display: block;
        background-image: url("../img/fp_map_loc_3_over.png");
        width: 115px;
        height: 28px;
        left: 668px;
    }
    .home-visual-desc {
      display: initial;
      float: left;
      width: 100%;
      text-align: center;
      font-size: 1.25em;
      font-family: Arvo;
      margin: 0em auto 1em 0;
    }
    .visual-mobile {
        display: none;
    }
    p.description1 {
        width: 921px;
        margin: auto;
    }
    .footer .logos-group1 {
        width: 921px;
    }
    .footer-line1 {
        float: left;
    }
    
    .footer-line2 {
        float: left;
    }
    
    .footer-line3 {
        display: block;
    }
}

/* Block outercontainer Desktop */
@media (min-width: 1200px) {
    .container.home {
        background-image: url("../img/fp_home_feat_bg.jpg");
        background-repeat: no-repeat;
        background-position-y: -100px;
        background-size: 100%;
    }

    .home-intro {
        display: block;
        background-image: url("../img/fp_home_intro_bg.png");
        margin: 3em 0 0 3em;
        padding: 2em;
    }
    .home-intro-one {
        font-family: Arvo;
        font-weight: 400;
        font-size: 2.25em;
        color: #202836;
        line-height: 1.3em;
        text-align: left;
    }
    .home-intro-two {
        font-family: Arvo;
        font-weight: 400;
        color: #202836;
        font-size: 1.15em;
        line-height: 1.85em;
        margin: 1em 4em 0 0;
    }
    .home-search {
        background-color: #edebe6;
        min-height: 200px;
        margin: 7.5em 0 0 -5em;
        padding: 1.5em 2em;
    }
    .home-search-one {
        font-family: Arvo;
        font-size: 2em;
        color: #97421b;
        text-align: left;
    }
    .home-search-two {
        font-family: Arvo;
        font-size: 1.1em;
        line-height: 1.75em;
    }
    .home-search-two ul li {
        list-style-image: url("../img/fp_home_listitem.png");
        margin: 15px 0px -10px -6px;
    }
.home-search-two .home-search-text {
  font-family: Asap;
  font-size: 1em;
  width: 70%;
  background-color: #e5d9ca;
  border-radius: 4px;
  border: solid 1px #fff;
  padding: 5px 10px;
  margin: 1em 0;
}
    .home-search-two .home-search-submit {
        background-color: #2e5367;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 5px 10px;
        margin: 1em .5em;
        font-family: Asap;
    }
    .home-search-two .home-search-submit:hover {
        background-color: #222a38;
    }
    .home-visual {
        width: 100%;
        display: block;
        text-align: center;
        margin: 5em auto .5em 0;
    }

    .home-visual img {
        max-width: 100%;
        display: initial;
        border: solid 4px #fff;
    }

    .map-loc-1 {
        position: absolute;
        top: 115px;
        display: block;
        background-image: url("../img/fp_map_loc_1.png");
        width: 152px;
        height: 28px;
        left: 200px;
        -webkit-transition: background-image .6s; /* Safari */
        transition: background-image .6s;
    }

    .map-loc-2 {
        position: absolute;
        top: 30px;
        display: block;
        background-image: url("../img/fp_map_loc_2.png");
        width: 152px;
        height: 28px;
        left: 490px;
        -webkit-transition: background-image .6s; /* Safari */
        transition: background-image .6s;
    }
    .map-loc-3 {
        position: absolute;
        top: 59px;
        display: block;
        background-image: url("../img/fp_map_loc_3.png");
        width: 115px;
        height: 28px;
        left: 785px;
        -webkit-transition: background-image .6s; /* Safari */
        transition: background-image .6s;
    }
    .map-loc-1:hover {
        position: absolute;
        top: 115px;
        display: block;
        background-image: url("../img/fp_map_loc_1_over.png");
        width: 152px;
        height: 28px;
        left: 200px;
    }

    .map-loc-2:hover {
        position: absolute;
        top: 30px;
        display: block;
        background-image: url("../img/fp_map_loc_2_over.png");
        width: 152px;
        height: 28px;
        left: 490px;
    }
    .map-loc-3:hover {
        position: absolute;
        top: 59px;
        display: block;
        background-image: url("../img/fp_map_loc_3_over.png");
        width: 115px;
        height: 28px;
        left: 785px;
    }
    .visual-mobile {
        display: none;
    }
    .base-links {
        margin: 2em 0;
        padding: 1em 0 0 0;
    }
    .base-links .col-md-4 {
      display: inline;
      clear: none;
      float: left;
      width: 33.3%;
      height: 150px;
      border: none;
    }
		.link-lg {
	  background: #fff;
	  opacity: .8;
	  height: 64px;
	  margin: 27px 0 0 0;
	  vertical-align: middle;
	  padding: 20px 0px;
	}
    p.description1 {
        width: 921px;
        margin: auto;
    }
    .footer .logos-group1 {
        width: 921px;
    }
    .footer-line1 {
        float: left;
    }
    
    .footer-line2 {
        float: left;
    }
    
    .footer-line3 {
        display: block;
    }
}

/* Record Entry */
.btn-image-only {
    border: 0;
    background-color: transparent;
    margin-top: -6px;
}

/* Author autocomplete */
ul.selected-authors {
    list-style: none;
    padding: 5px 10px 5px 0;
}

ul.selected-authors li {
    padding: 5px 10px 5px 5px;
    color: #563d7c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.author-delete {
    cursor: pointer;
}

/* Form Overrides */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-primary, .btn-default {
    color: #fff;
    background-color: #2e5367;
    border-color: #2e5367;
}

.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #406777;
    border-color: #406777;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Create Footprint */

ul.wizard-tabs.has-error li.active a {
    background-color: #a94442;
}

.footprint-form .form-content {

}

.footprint-form .form-content h3 {
    margin-top: 10px;
    color: #836737;
}

.footprint-form .form-group .help-block {
    width: 75%;
}

.footprint-form .form-group .error-block {
    display: none;
    color: #a94442;
    margin: 10px;
}

.footprint-form .form-group.has-error .error-block {
    display: block;
    float: right;
}

.footprint-form .form-group.has-error .help-block {
    color: #737373;
}

.footprint-form input[name='footprint-medium-other'] {
    margin-top: 5px;
    width: 50%;
}

.fp-section,
.fp-qa {
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.fp-qa h4 {
    color: #2e5367
}

.fp-qa span.qa {
    font-size: 18px;
    color: #836737;
}

.tab-content.well {
    border: none;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
}

/* Footprint Details */

.writtenwork .imprint-list,
.writtenwork .writtenwork-detail,
.footprint-detail {
    border-radius: 4px;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 10px 0;
    padding: 10px;
}

.footprint-detail {
    padding-right: 20px;
}

img.footicon {
    height: 40px;
}

.footprint-detail > span.object-title {
    color: #202836;
}

/* Carousel */

.carousel-controls {
    margin: 5px 0 10px 0;
}

#carousel-modal .modal-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: black;
    border: 0;
}

#carousel-modal .modal-header {
    border-bottom: none;
}

#carousel-modal .modal-header .close {
    margin-top: -12px;
    font-size: 20px;
    color: #fff;
    opacity: .5;
}

#carousel-modal .modal-header .close:hover {
    opacity: 1;
}

#carousel-modal .item img {
    width: auto;
    height: 500px;
    max-height: 500px;
}

#carousel-modal .carousel-control.right {
    right: -40px;
    background-image: none;
}

#carousel-modal .carousel-control.left {
    background-image: none;
    left: -40px;
}

/* Object detail pages */

.object-detail {
    padding-top: 1em;
}

.footprint.object-detail {
    min-height: 700px;
}

.object-detail .breadcrumb {
    margin-bottom: 10px;
    background: transparent;
    color: #836737;
    font-weight: normal;
    font-size: 20px;
}

.object-detail .breadcrumb a {
    font-size: 14px;
}

.object-detail h1 {
    padding: 10px;
    color: #373e4d;
    vertical-align: middle;
    margin-top: 0;
}

.object-detail h1 .object-title {
    width: 93%;
    margin-left: 20px;
}

.object-detail h3 {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px;
}

.object-detail .highlight {
    background-color: lightyellow;
}

.object-detail dl dt small {
    font-weight: normal;
    font-style: italic;
}

.object-detail dl dt {
    padding-top: 5px;
    padding-bottom: 2px;
}

.object-detail dl dd {
    margin-left: 0;
    padding-left: 200px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.object-detail dl dd.border-bottom {
    border-bottom: dotted 1px #ccc;
}

span.glyphicon-question-sign {
    color: #d3c1a2;
}

.object-detail span.glyphicon-asterisk {
    color: #97421b;
    font-size: .65em;
}

.object-detail .sidebar-box {
    border: 1px solid #e9eaed;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.object-detail .progress {
    height: 10px;
    width: 65%;
}

.list-group-item.checklist {
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 10px 20px 20px 20px;
    border: none;
    border-radius: 4px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #2e5367;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.sidebar-box.related-footprint,
.sidebar-box.recordkeeping {
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 10px 20px 20px 20px;
    border: none;
    border-radius: 4px;
}

.object-detail .progress-report {
    color: #9197a3;
    font-size: 12px;
    line-height: 16px;
    margin-top: -3px;
}

.object-detail .readonly {
    text-decoration: none;
    border-bottom: 0;
    color: #333;
    cursor: text;
}

.object-detail .editable, .object-detail .editable-click {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0;
    color: #333;
}

.object-detail .editable:hover {
    border-bottom: dashed 1px #333;
}

.object-detail .editable-inline, .object-detail .form-inline, .object-detail .form-group {
    width: 100% !important;
}

.object-detail .editable-input {
    width: 82%;
}

.object-detail .editable-input .alert {
    width: 95%;
}

.object-detail .editable-input.wide {
    width: 100%;
}

.object-detail .editable-input input[type='text'], .object-detail .editable-input textarea {
    width: 100%;
}

.object-detail .editable-buttons .editable-cancel {
    margin-left: 0px;
}

.object-detail .editable-buttons .editable-submit {
    margin-right: 7px;
}

.object-detail .remove-footprint-actor {
    cursor: pointer;
}

.object-detail .do-you-know {
    color: #97421b;
    text-decoration: none;
}

.object-detail .do-you-know:hover {
    text-decoration: underline;
    border-bottom: 0;
}

.object-detail .glyphicon-question-sign {
    vertical-align: top;
    margin-top: 2px;
}

.object-detail .imprint-map {
    width: 100%;
}

body.affix-container {
    position: relative;
}

.object-detail .imprint-map-container.affix {
    top: 10px;
}

.object-detail .imprint-map-container.affix-bottom {
    position: absolute;
}

.object-detail .footprint-map {
    width: 100%;
    height: 200px;
}

.object-detail ul.record-checklist li.list-group-item small {
    margin-left: 22px;
}

.object-detail .crop {
    width: 100px;
    height: 75px;
    overflow: hidden;
}

.connect-record-prompt {
    width: 350px !important;
    min-width: 250px;
    border-radius: 4px;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 10px;
}

.connect-record-prompt .list-group-item {
    border: none;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 10px;
}

.connect-record-prompt h4 {
    color: #836737;
}

.object-detail .connect-record-container .select2-container {
    width: 100%;
    font-size: 12px;
    display: block;
}

.object-detail .connect-record-container .select2-container.book .select2-chosen,
.object-detail .connect-record-container .select2-container.imprint .select2-chosen {
    color: black;
}

.object-detail .connect-record-container .select-object {
    width: 100%;
    font-size: 14px;
}

.object-detail .connect-record-container .save-connection {
    margin-left: 10px;
}

.book-detail {
    border-radius: 4px;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 10px 20px 10px 10px;
}

.object-detail.writtenwork .col-md-7 {
    padding-left: 0;
}

.object-detail.writtenwork .breadcrumb {
    margin-bottom: 0px;
}

.object-detail.writtenwork h1 .object-title {
    width: auto;
    margin-left: 0px;
}

.object-detail.writtenwork .writtenwork-detail .metadata {
    margin-left: 17px;
}

.object-detail.writtenwork .writtenwork-detail .metadata strong {
    margin-right: 10px;
}

/*.object-detail.writtenwork .imprint-list {
    overflow-y: auto;
}
*/

.object-detail.writtenwork .imprint-list-item {
    padding: 5px 12px 12px 12px;
    margin: 0 0 3px 0;
    border: 1px solid #eee;
    background-color: white;
}

.object-detail.writtenwork .panel {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.object-detail.writtenwork .panel-group {
    margin-bottom: 0;
    margin-top: -2px;
}

.object-detail.writtenwork .panel-group .panel-heading {
    border: 0;
    cursor: pointer;
    box-shadow: none;
    padding-left: 0;
    padding-top: 0;
}

.object-detail.writtenwork .panel-heading {
    background-color: white;
    border-radius: 0;
}

.object-detail.writtenwork .panel-body {
    padding: 0 !important;
    border-top: 0 !important;
}

.object-detail.writtenwork .list-group {
    margin-bottom: 20px;
}

.object-detail.writtenwork .list-group-item {
    background-color: #f6f7f8;
    border-radius: 0;
    border: 1px solid #eee;
    margin-bottom: 0px;
}

.object-detail.writtenwork .list-group-item:hover {
    border-color: #95c0e9;
}


.object-detail.writtenwork .list-group-item.active,
.object-detail.writtenwork .imprint-list-item.active {
    border-color: #95c0e9;
    color: #333;
    box-shadow: 0 0 10px #95c0e9;
}

.object-detail.writtenwork .list-group-item.active {
    background-color: #f6f7f8;
}

.object-detail.writtenwork .imprint-list-item h4 {
    margin-top: 0;
    margin-bottom: 0;    
    line-height: 30px;
    font-size: 16px;
}

.object-detail.writtenwork .imprint-list-item h4.mappable {
    cursor: pointer;
}

.object-detail.writtenwork .imprint-list-item h5 {
    margin-top: 5px;
}

.object-detail.writtenwork .imprint-list-item-marker {
    height: 20px;
}

.object-detail.writtenwork .panel-title {
    font-size: 14px;
    color: #2e5367;
}

.object-detail.writtenwork .panel-title a,
.object-detail.writtenwork .panel-title a:hover {
    text-decoration: none;
}

.object-detail.writtenwork .panel-title a span:before {
    content: "\2212";
    font-family: "Glyphicons Halflings";
    margin-right: 3px;
    font-size: 10px;
    color: #2e5367;    
}

.object-detail.writtenwork .panel-title a.collapsed span:before {
    content: "\2b";
}

.object-detail.writtenwork .panel-title .glyphicon {
    color: #2e5367;
}

.object-detail.writtenwork .panel-default>.panel-heading .badge {
    background-color: #2e5367;
}

.object-detail.writtenwork .divider {
    margin-top: 1px;
    border: 0;
    background-color: white;
}

.object-detail.writtenwork .divider.active,
.object-detail.writtenwork .divider:hover {
    border: 0 !important;
    box-shadow: none;
}

.object-detail.writtenwork .divider div.small {
    padding: 5px;
    margin-left: -20px;
    margin-bottom: -14px;
    position: relative;
    z-index: 1;
    border: 0;
}

.object-detail.footprint .breadcrumb a {
    text-transform: none;
}

.object-detail.footprint .separator {
    border-bottom: dotted black 1px;
    padding-bottom: 5px;
}

.object-detail.footprint .connect-record-prompt {
    width: 25%;
    min-width: 250px;
}

.object-detail.footprint .connect-record-prompt p {
    margin-bottom: 20px;
}

.object-detail.footprint .connect-record-prompt span.emphasis {
    font-size: 125%;
    font-weight: 400;
}

.object-detail.footprint .connect-record-prompt a {
    font-size: 125%;
}

.object-detail.footprint #connect-records-modal form .form-group .error-block {
    display: none;
    color: #a94442;
    margin: 5px 0 0 0;
}

.object-detail.footprint #connect-records-modal .form-group.has-error .error-block {
    display: block;
}

.object-detail.footprint #connect-records-modal .page2 ul {
    margin: 20px 0 0 0;
}
.object-detail.footprint #connect-records-modal .page2 ul li {
    margin-bottom: 20px;
}
.object-detail.footprint #connect-records-modal .page2 ul li .separator {
    border-bottom: 0;
}
.object-detail.footprint .edit-digital-object {
    margin-top: 5px;
} 
.object-detail.footprint .toggle-edit-digital-object {
    margin-top: -12px;
    margin-bottom: 5px;
}


/** xeditable fields **/
.editable-person {
    padding: 20px;
}

.editable-place {
    margin-top: 10px;
}

.editable-place .map-container {
    width: 100%;
    height: 300px;
    margin: 10px 0;
}

.editable-digital-object ul.filelist {
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
}

.editable-digital-object ul.filelist li {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-digital-object .editable-upload {
    float: right;
    margin-right: 42px;
}

.form-group.has-error .editable-edtf input,
.form-group.has-error .editable-edtf button,
.form-group.has-error .editable-edtf select {
    border-color: #ccc;
}

.editable-edtf .required {
    border: 1px solid #97421b !important;
    background-color: #f9f2f4;
}

.editable-edtf h4 {
    min-height: 20px;
}

.editable-edtf .nav-pills>li.active>a,
.editable-edtf .nav-pills>li.active>a:hover,
.editable-edtf .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2e5367;
    border-color: #2e5367;
}

.editable-edtf .form-group table tr td {
    vertical-align: top;
}

.editable-edtf .form-group input[name=millenium1],
.editable-edtf .form-group input[name=millenium2],
.editable-edtf .form-group input[name=century1],
.editable-edtf .form-group input[name=century2],
.editable-edtf .form-group input[name=decade1],
.editable-edtf .form-group input[name=decade2],
.editable-edtf .form-group input[name=year1],
.editable-edtf .form-group input[name=year2] {
    width: 20px !important;
    padding: 2px 0px 0 6px;
    margin-right: -2px;
}

.editable-edtf .form-group input[name=day1],
.editable-edtf .form-group input[name=day2] {
    width: 40px;
    padding: 2px 0px 0 12px;
}

.editable-edtf .form-group input[name=year1],
.editable-edtf .form-group input[name=year2],
.editable-edtf .form-group select[name=month1],
.editable-edtf .form-group select[name=month2],
.editable-edtf .form-group input[name=day1],
.editable-edtf .form-group input[name=day2] {
    margin-right: 30px;
}

.editable-edtf .form-group .traits {
    margin-top: -5px;
}

.editable-edtf .toggle-next-row-container {
    margin: 0 0 15px 0;
}

.editable-edtf .date2.toggle-next-row-container {
    margin-top: 25px;
}

.editable-edtf .toggle-next-row {
    padding: 3px 5px;
}

.editable-edtf .toggle-next-row:before {
    content: "\2b";
    font-family: "Glyphicons Halflings";
    line-height: 1.4;
    margin: 2px;    
} 

.editable-edtf .toggle-next-row.minus:before { 
    content: "\2212";
}

.editable-edtf .date-display {
    margin-top: 0;
    background-color: light-gray;
    font-weight: bold;
}

.editable-edtf .date-display .date-display-1 {
    font-weight: normal;
}

.editable-edtf .date-display .date-display-separator {
    font-weight: normal;
}

.editable-edtf .date-display .date-display-2 {
    font-weight: normal;
}

.editable-edtf ul li {
    margin-bottom: -1px !important;
}

.editable-edtf .alert {
    margin-top: 5px;
}

/* Additional Information */
ul.additional-questions {
    list-style: none;
    padding-left: 0px;
}

ul.additional-questions li {
    margin-bottom: 10px;
}

ul.additional-questions .editable-container {
    padding: 20px;
    background-color: #f6f7f8;
    border-radius: 10px;
}

/* Browse */
.object-browse .panel-body {
    padding: 0;
}

.object-browse .tools {
    margin: 20px 0;
}

.pagination {
    margin: -4px 0 0 30px;
}

.pagination > li > a, .pagination > li > span {
    color: #2e5367;
}

.object-browse .btn-sort-direction {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.object-browse .btn-sort-direction.asc {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.object-browse .btn-sort-direction.desc {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -3px;
}

.object-browse .btn-sort-direction.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #2e5367;
    border-color: #2e5367;
}

.object-browse table {
    margin-top: 20px;
    width: 99.9%;
}

.object-browse table .subtext {
    font-size: 13px;
}

.object-browse th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.object-browse th.sortable {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.object-browse th.selected {
    background-color: #efeeee;
}

.object-browse th.sortable.asc {
    background-image: url(../img/asc.gif);
}

.object-browse th.sortable.desc {
    background-image: url(../img/desc.gif);
}

.object-browse th.ftitle, .object-browse th.wtitle {
    width: 20%;
}

.object-browse th.elocation, .object-browse th.owners {
    width: 16%;
}

.object-browse th.added, .object-browse th.complete {
    width: 7%;
}

.object-browse td.added {
    text-align: center;
}

.object-browse table td.complete {
    text-align: center;
    position: relative;
}

.object-browse table td.complete .progress-circle strong {
    position: absolute;
    top: 13px;
    left: 2px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #333;
}

.object-browse .page-count {
    font-size: 16px;
}

/* Search Page & Browse Pages */

.object-search .panel-body {
    padding: 0;
}

.object-search .pagination {
    margin: 0;
}

.object-search ul {
    list-style: none;
}

.object-search ul li label {
    font-weight: normal;
}

.object-search .input-group input[type='search'] {
    border: 1px solid #ccc;
}

.object-search .input-group input[type='search']:focus {
    background-color: white;
}

.object-search .search-result {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.object-search .search-result h4 {
    margin-top: 0;
    font-weight: normal;
}

.object-search .search-result div {
    margin-left: 25px;
}

.object-search .search-result:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.object-search .no-results h4 {
    margin-left: 10px;
}

/* Admin area record entry styles */
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset, mce-content-body {
    font-size: 12px !important;
}
.change-form div.select2-container {
    width: 300px;
    font-size: 12px;
}
.change-form .select2-container-multi .select2-choices .select2-search-field input {
    font-size: 12px;
}

/* Flat Pages */
.flatpage_contain {
width: 95%;
margin: 0 auto;
}
.flatpage_contain h3 {
  color: #836737;
  }

.flatpage_contain .flat-well {
  background-image: url("../img/fp_section_bg.png");
  background-repeat: repeat;
  padding: 10px 20px;
  margin: 0 0 10px 200px;
  float: left;
}
  .flatpage_contain .flat-well div {
  border-bottom: dotted 1px #ccc;
  padding: 1em 0 2em 0;
  }

  .flatpage_contain .flat-well div:last-child {
  border-bottom: none;
  }

ul.about-nav {
  float: left;
  margin: 1em 5em 2em -40px;
  width: 200px;
  position: fixed;
}

ul.about-nav li {
    padding: 0 0 10px 0;
}

.flatpage_contain .well a {
    font-weight: bold;
}

.about-image {
float: left;
  margin: 0 15px 10px 0;
  box-shadow: 2px 2px 1px #836737;
}

ul#glossary {
  margin-left: -37px;
}

ul#glossary li {
  list-style-type: none;
  padding: 10px;
}

ul#glossary li:nth-child(odd) {
  background-color: #f7f7f7;
}

ul#glossary strong {
  color: #2e5367;
}
#faq p {
  margin: 2em 0;
  background-image: url("../img/fp_section_bg.png");
  background-repeat: repeat;
  padding: 20px;
}
#faq strong {
  font-weight: normal;
  font-size: 1.25em;
  color: #2e5367;
}
input[name='decoy'],
p.decoy {
    display: none !important;
}

.editable-error-block:before {
  font-family: "Glyphicons Halflings";
  content: "\e101";
  padding-right: 4px;
  vertical-align: bottom;
}

#add-related-footprint .btn-group button.btn-default:hover,
#add-related-footprint .btn-group button.btn-default:focus {
    color: white;
    outline: none;
    background-color: #2e5367;
    border-color: #2e5367;
}


/** Custom InfoWindow **/
.gm-style-iw {
    width: 300px !important;
    top: 15px !important;
    left: 0px !important;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: white;
}
.gm-style-iw div {
    width: 100%;
}
.iw-container .iw-title.iw-footprint {
    background-color: #f6f7f8;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
}
.iw-container .iw-title.iw-imprint {
    background: transparent;
    color: #836737;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    margin-bottom: 5px;
}
.iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 5px 15px 10px 15px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.standard-identifier-logo {
    margin-right: 5px;
    margin-top: -2px;
}
.standard-identifier-logo a img {
    width: 15px;
    height: auto;
}

/* Batch Import */
.batch-job-list form[name='import-csv'] {
    background-image: url("../img/fp_section_bg.png");
    background-repeat: repeat;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.batch-job-list .btn-create-job {
    margin-right: 10px;
    margin-top: 10px;
}

.batch-job-detail .batch-job-row-container {
    overflow-x: auto;
}

.batch-job-detail .batch-job-row-container table {
    border-collapse: separate;
}

.batch-job-detail .batch-job-row-container table tr {
    height: 10px;
    min-height: 10px;
    max-height: 10px;
}

.batch-job-detail .batch-job-row-container table td {
    width: 10px;
    padding: 4px;
    border: 1px solid white;
}

.batch-job-detail .batch-job-row-container table td:hover {
    border: 1px solid #2e5367;
    cursor: pointer;
}

.batch-job-detail .batch-job-row-container table td.valid {
    background-color: lightgray;
}

.batch-job-detail .batch-job-row-container table td.valid.selected {
    border-color: lightgray;
}

.batch-job-detail .batch-job-row-container table td.invalid {
    background-color: #d99230;
}

.batch-job-detail .batch-job-row-container table td.invalid.selected {
    border-color: #d99230;
}

.batch-job-detail .batch-job-row-container table td.empty {
    background-color: #eeeeee;
}

.batch-job-detail .batch-job-row-container table td.empty.selected {
    border-color: #eeeeee;
}

.batch-job-detail .batch-job-row-container table td.missing {
    background-color: #B6212D;
}

.batch-job-detail .batch-job-row-container table td.missing.selected {
    border-color: #B6212D;
}

.batch-job-detail .batch-job-row-container table td.field-name {
    width: 225px;
    min-width: 225px;
    max-width: 225px;
}

.batch-job-detail .batch-job-row-container table td.field-name:hover {
     border: 1px solid white;
}

.batch-job-detail .batch-job-row-container table td div {
    display: none;
}

.batch-job-detail .batch-job-row-container table td.selected div {
    display: block;
}

.batch-job-detail .batch-job-row-container table td.selected {
    background-color: white;
    border-left-width: 8px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

/* PathMapper visualizations page */

.pathmapper .cover,
.pathmapper .print-inline,
.pathmapper .print-block {
    display: none;
}

.pathmapper .header {
    background-image: url("../img/fp_header_bg.jpg");
    background-repeat: repeat;
    height: 45px;
    padding: 0;
    margin: 0;
}

.pathmapper .header .logo {
    margin-top: 5px;
    margin-left: 0;
    height: 35px;
    width: 135px;
    background-image: url("../img/fp_header_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.pathmapper .header .logo a {
    display: block;
    height: 35px;
    width: 135px;
    float: left;
}
.pathmapper .header .brand {
    margin-top: 5px;
    margin-left: 145px;
    height: 35px;
    width: 135px;
    color: #d3c1a2;
    text-decoration: none;
    font: 200 20px/35px 'Raleway', sans-serif;
}

.pathmapper .banner {
    height: 150px;
    background-image: url("../img/background-viz.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    width: auto;
    position: relative;
}

.pathmapper .intro {
    display: block;
    width: auto;
    height: 130px;
    background-image: url("../img/fp_home_intro_bg.png");
    padding: 10px;
    margin: 10px;
    font: 400 14px/120% 'Arvo', sans-serif;
    color: #202836;
    text-align: center;
}

.pathmapper .download {
    display: block;
    border: 1px solid #837c56;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 8px;
    margin: 10px auto;
    width: 200px;
    font: 700 13px/100% 'Asap', sans-serif;
    text-transform: uppercase;
    color: #837c56;
}

.pathmapper .slidebox {   
    width: auto;
    font: 400 15px/1.5em 'Asap', sans-serif;
    color: #202836;
    padding: 20px 5px;
}

.pathmapper .slidebox.odd {
    background-color: #d3c1a2;
}

.pathmapper .slidebox.even {
    background-color: #e5d9ca;
}

.pathmapper .slidebox h3 {   
    font: 400 20px/1.5em 'Arvo', sans-serif;
    color: #202836;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}

.pathmapper .slidebox .visual {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    padding: 0;
    float: none;
}

.pathmapper .slidebox .visual img {
    width: 100%;
    height: auto;
}

.pathmapper .slidebox .text {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
}
