/* --- PATHMAPPER tool --*/

.pathmapper-tool .content {
    margin: 0;
}

#map-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#table-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: auto;
}

#the-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
}

.widget-pane {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: calc(100% - 2.5rem);
    height: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition-property: -webkit-transform,transform,opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}

.widget-pane .sr-only {
    position: static !important;
}

.widget-pane-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #f8f5f4;*/
    background-color: #fafafa;
    z-index: 1;
}

.widget-pane-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 2.5rem;
    z-index: 0;
    display: block;
    background-color: #f8f5f4;
}

#btn-pane-toggle {
    width: 2.5rem;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 1.25rem;
    color: #666;
    background-color: #f8f5f4;
    border: 0;
    border-left: 1px solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

#btn-pane-toggle:hover {
    color: #000;
    background-color: #e5d9ca;
}

#btn-pane-toggle:focus {
    color: #000;
    background-color: #e5d9ca;
    border-right: 1px solid #3399ff;
    border-bottom: 1px solid #3399ff;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 3px 4px rgba(51, 153, 255, 0.5);
}

.txt-pane-toggle {
    display: block;
    width: 6rem;
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    transform-origin: 1rem 1rem;
}

.widget-pane-toggle .fas {
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.widget-pane-expanded .widget-pane-toggle .fa-times {
    display: inline-block;
    margin-left: 0.75rem;
}
.widget-pane-expanded .widget-pane-toggle .fa-layer-group { display: none; }
.widget-pane-expanded #txt-hide { display: inline-block;}
.widget-pane-expanded #txt-display { display: none;}
.widget-pane-expanded {
    -webkit-transform: translateX(0em);
    transform: translateX(0rem);
}

.widget-pane-collapsed .widget-pane-toggle .fa-times { display: none;}
.widget-pane-collapsed .widget-pane-toggle .fa-layer-group { display: block; }
.widget-pane-collapsed #txt-hide { display: none;}
.widget-pane-collapsed #txt-display { display: block;}
.widget-pane-collapsed {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* */

::placeholder {
  color: #ccc !important;
}

:-ms-input-placeholder {
  color: #ccc !important;
}

::-webkit-input-placeholder {
  color: #ccc !important;
}

.criteria-set-pane {
    height: 100%;
}

.pane-content {
    height: 100%;
}

.pane-content header {
    padding: 0 0.625rem;
    height: 3.25rem;
    background-color: #edeae6;
    border-bottom: 1px solid #ddd;
}

.pane-content header h1 {
    /*width: 2.5rem;*/
    height: 3.25rem;
    white-space: nowrap;
    padding: 0;
    margin: 0 0.5rem 0 0;
    line-height: 3.25rem;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

label.layer-title {
    margin: 0 0.5rem 0 0;
    line-height: 3.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    display: none;
}

.criteria-form-field {
    margin-top: auto;
    margin-bottom: auto;
}

.pane-content-container {
    margin: 0;
    overflow-y: scroll;
    height: calc(100% - 3.25rem);
}

.pane-content-container h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #836737;
}

.pane-content-container section {
    margin: 1rem;
    padding: 1rem;
    background: #f8f5f4 url("../img/fp_section_bg.png") repeat;
}

.layer-actions {
    margin: 1rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    text-align: right;
}

.btn-priority-low {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-weight: 500;
    color: #97421b;
    background-color: transparent;
    border-color: transparent;
}

.btn-priority-low:hover {
    color: #82320d;
    background-color: #efefef;
    border-color: #efefef;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
}

.btn-priority-mid {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-weight: 500;
    color: #fff;
    background-color: #97421b;
    border-color: #97421b;
}

.btn-priority-mid:hover {
    color: #fff;
    background-color: #82320d;
    border-color: #82320d;
    /* offset-x | offset-y | blur-radius | color*/ 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
}

.btn-priority-hi {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-weight: 500;
    color: #fff;
    background-color: #97421b;
    border-color: #97421b;
}

.btn-priority-hi:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f055";
    margin-right: 0.5rem;
}

header .btn-priority-hi {
    margin-left: auto;
    margin-top: 0.375rem;
    height: calc(1.5em + .75rem + 2px);
    border-radius: calc(1.5em + .75rem + 2px);
}

.btn-priority-hi:hover {
    color: #fff;
    background-color: #82320d;
    border-color: #82320d;
    /* offset-x | offset-y | blur-radius | color*/ 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
}

.btn-layer-action {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    margin: 0 0.25rem;
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
    color: #97421b;
}

.btn-layer-action:hover {
    color: #82320d;
    background-color: #efefef;
    border-color: #efefef;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
}

.pane-content-container .col-form-label {
    font-size: 1rem;
    text-align: right;
    padding-right: 0;
}

.criteria-range {
    white-space: nowrap;
    color: #888;
    border-color: #888;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.criteria-range:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f055";
    margin-right: 0.5rem;
}

.criteria-range.range-on:before {
    content: "\f057";
}

#layer-list-pane h2 {
    font-size: 1.125rem;
    font-weight: normal;
    padding: 0;
    margin: 0 1rem 0 0;
    color: #333;
}

#layer-list-pane section {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.indiv-layer-actions {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
}

.indiv-layer-actions li {
    /* border: 1px solid #ccc;*/
}

.widget-share-map-table {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 2.5rem;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-size: 0rem;
    white-space: nowrap;
}

.widget-share-panel {
    position: absolute;
    top: 3.3rem;
    right: 0.625rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 19rem;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    z-index: 1;
    white-space: nowrap;
    width: 22rem;
}

.share-panel-expanded {
    display: block;
}

.share-panel-collapsed {
    display: none;
}

.widget-share-panel:focus {
    background-color: #ccc !important;
}

.share-panel-header {
    padding: 0.5rem 1.5rem;
}

.share-panel-header h2 {
    font-size: 1.125rem;
    font-weight: 500;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #836737;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 0;
}

.share-panel-copylink {
    padding: 1rem 1.5rem;
}

.share-panel-socmedia  {
    background: #f8f5f4 url("../img/fp_section_bg.png") repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.share-panel-socmedia button {
    padding: 1rem;
    margin: 0.75rem;
    width: 6rem;
    border: 0;
    background-color: transparent;
    line-height: 100%;
}

.share-panel-socmedia button span {
    display: block;
    margin: 0.25rem auto;
    padding: 0;
    color: #666;
    font-size: 0.875rem;
}

.share-panel-socmedia button:focus,
.share-panel-socmedia button:active {
    border: 0;
    outline: 0.125rem solid #39f;
    border: 0;
    box-shadow: none;
}

.share-panel-facebook {
    color: #3b5998;
}

.share-panel-twitter {
    color: #00acee;
}

.share-panel-socmedia button.share-panel-facebook:focus,
.share-panel-socmedia button.share-panel-facebook:active {
    background-color: #f5f5f5;
    color: #264381;
}

.share-panel-socmedia button.share-panel-twitter:focus,
.share-panel-socmedia button.share-panel-twitter:active {
    background-color: #f5f5f5;
    color: #0099ff;
}

.share-panel-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1;
    color: #666;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.share-panel-close:focus,
.share-panel-close:active {
    border: 0;
    outline: 0.125rem solid #39f;
    color: #39f;
    border: 0;
    box-shadow: none;
}

.btn-share {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.125rem;
    color: #666;
    background-color: #fff;
    border: 0;
    border-radius: 0;
}

.btn-share:hover {
    background-color: #fff;
    color: #000;
    border: 0;
}

.btn-view {
    width: 5.875rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #666;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #efefef;
    font-weight: 500;
}

.btn-view:hover {
    background-color: #fff;
    color: #000;
    border: 0;
    border-left: 1px solid #efefef;
}

.btn-view.active {
    color: #97421b;
    background-color: #f8f5f4;
}

/* Table view */

.table-pathmapper {
    margin: 5rem auto;
    padding: 0;
    width: calc(100% - 2rem);
}

.table-pathmapper tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.table-pathmapper th, td {
    padding: 0.5rem;
}
.table-pathmapper th {
}
.table-pathmapper tbody tr:nth-child(even) {background-color: #edeae6;}

.table-pathmapper tbody tr:nth-child(odd) {background: #fafafa}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
    width: 0.5rem;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #999;
}





/* Material design experiment */

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  position: relative;
}
.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0.25rem;
}
.md-radio input[type="radio"]:checked + label::before {
  margin-top: 0.1rem;
  border-color: #97421b;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.md-radio label {
  display: block;
  min-height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0.25rem;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label::before, .md-radio label::after {
  margin-top: 0.1rem;
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
  background-color: #edeae6;
}
.md-radio label::before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #97421b;
}
.md-radio input[type="radio"]:focus + label::before {
  border: 2px solid #97421b !important;
  box-shadow: 0 0 5px 2px rgba(81, 203, 238, 1) !important;
}
.md-radio input[type="radio"]:focus + label::after {
  border: 2px solid #97421b !important;
  box-shadow: 0 0 5px 2px rgba(81, 203, 238, 1) !important;
}



/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .widget-pane {
        top: 0;
        width: 32rem;
        height: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    .widget-pane-content {
        top: 0;
        height: 100%;
    }

    .widget-pane-toggle {
        left: 100%;
        width: auto;
        background-color: transparent;
    }
    #btn-pane-toggle {
        display: inline-block;
        flex-direction: row;
        width: 2.5rem;
        height: 3.25rem;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 1.25rem;
        color: #666;
        background-color: #f8f5f4;
        border: 0;
        border-left: 1px solid #ddd;
        border-radius: 0 0.25rem 0.25rem 0;
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }
    .txt-pane-toggle {
        display: none !important;
    }
    .widget-pane-expanded {
        -webkit-transform: translateX(0em);
        transform: translateX(0rem);
    }
    .widget-pane-collapsed {
        -webkit-transform: translateX(-32rem);
        transform: translateX(-32rem);
    }
    .widget-pane-toggle .fas {
        margin: 0 !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/** Select2 Overrides **/
.select2-container--default .select2-selection--single .select2-selection__clear {
    color: gray;
    margin-top: -2px/
}