
.pathmapper .print-inline {
    display: inline;
}

.pathmapper .print-block {
    display: block !important;
}

.pathmapper .cover {
    background-image: none;
    width: 504px;
    height: 504px;
    padding: 0;
    margin: 72px auto 0 auto;
    border: 1px solid #ccc;
    display: block;
}

.pathmapper .hidden-print {
    display: none;
}

.pathmapper .header .container {
    display: none;
}

.pathmapper .banner {
	page-break-before: always;
	width: 100%;
	height: 100%;
	padding: 1in 1.5in;
	float: none;
}

.pathmapper .intro h1 {   
    font: 400 20px/1.5em 'Arvo', sans-serif;
    text-align: left;
}

.pathmapper .intro .more_intro {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: justify;
}

.pathmapper .slidebox h3 {
    text-align: left;
}

.pathmapper .slidebox .visual {
	page-break-before: always;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5in 0;
    float: none;
}

.pathmapper .slidebox .text
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
	page-break-before: always;
	width: 100%;
	padding: 1in 1.5in;
	float: none;
	text-align: justify;
}

.container.foot,
.footer {
    background: none;
}

.container.foot {
    page-break-before: always;
}

.footer {
    padding-top: 1in;
}

.footer .description1,
.footer .description2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer-line1 {
    width: 100%;
    display: block;
    float: none;
}

.footer-line2 {
    display: block;
    float: none;
}
