._*
*~
*.pyc
ve
deploy_specific
.svn
\#*
local_settings.py
.project
.pydevproject
start_server.sh
.settings
lettuce.db
chromedriver.log
ghostdriver.log
.coverage
media/CACHE
reports
node_modules
digitalobjects/
uploads/
.DS_Store
20*
wheelhouse/
.idea/
.ropeproject
test*.txt
package-lock.json
local.mk
solr/footprints/conf/data
solr/footprints/data
solr/footprints/logs
solr/footprints/log4j2.xml
.vscode/
footprints_s3/