language: python
dist: xenial
python:
  - "2.7"
  - "3.4"
  - "3.6"
install:
  - pip install -U pip wheel
  - pip install -U setuptools
  - pip install -r requirements.txt
script:
  - make
notifications:
  slack: ccnmtl:GizSNscLWJLldjQrffB8mwgm
addons:
  apt:
    packages:
      - libgdal-dev
      - libsqlite3-mod-spatialite
