Django>=2.2.12,<3

feedparser==6.0.8

Markdown==3.3.4

smartypants==2.0.1
psycopg2==2.8.6
olefile==0.46

Pillow==8.3.2

versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.4.0
mccabe==0.6.1
pyparsing==2.4.7
pycodestyle==2.8.0
configparser==5.0.2
importlib-metadata==4.8.1  # for flake8
typing_extensions==3.10.0.2
zipp==3.6.0  # for flake8
flake8==4.0.1
tornado==6.1
cssselect==1.1.0
lxml==4.6.3
fuzzywuzzy==0.18.0
sure==2.0.0

coverage==6.0.2
pyasn1==0.4.8
cryptography==35.0.0  # pyOpenSSL


chardet==4.0.0
idna==3.3
urllib3==1.26.7  # sentry-sdk

requests==2.26.0
logilab-common==1.8.1
lazy-object-proxy==1.6.0
wrapt==1.13.1

pylint==2.11.1

astroid==2.8.2

six==1.16.0
ipaddress==1.0.23
text-unidecode==1.3
Faker==9.2.0
factory_boy==3.2.0
ldap3==2.9.1
sqlparse==0.4.2
contextlib2==21.6.0
rcssmin==1.0.6
rjsmin==1.1.0

vine==1.3.0
amqp==2.6.1
kombu>=4.6.11,<5.0.0
celery>=4.4.7,<5.0.0
django-celery-results==2.2.0

billiard==3.6.4.0
pytz==2021.3

requirements/src/sorl-3.2ctl-py2.py3-none-any.whl
django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-appconf==1.0.5
django-compressor==2.4.1
django-statsd-mozilla==0.4.0
raven==6.10.0
sentry-sdk==1.4.3
django-bootstrap-form==3.4
django-debug-toolbar==3.2.2
django-waffle==2.2.1
django-smoketest==1.1.2
django-extensions==3.1.3

django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.7.3
django-registration-redux==2.9
django-markwhat==1.6.2
gunicorn==20.1.0
future==0.18.2
s3transfer==0.5.0
jmespath==0.10.0

botocore>=1.15.0,<1.22.0
boto3>=1.12.0,<1.19.0

django-infranil==1.1.0
certifi==2021.10.8  # for pysolr, sentry-sdk
pysolr==3.9.0
django-haystack==3.1.1
requirements/src/django_audit_log-0.8.0-py2.py3-none-any.whl
djangorestframework==3.12.4
djangorestframework-jsonp==1.0.2
Unidecode==1.3.2
django-reversion==4.0.0
python-dateutil==2.8.2
requirements/src/edtf-0.9.3ctl-py2.py3-none-any.whl

django-storages==1.11.1
django-cacheds3storage==0.2.2
ccnmtlsettings==1.9.0
funcsigs==1.0.2
pbr==5.6.0
django-s3sign==0.3.0
django-smtp-ssl==1.0

pbr==5.6.0
pyyaml==5.4.1
stevedore>=1.20.0 # Apache-2.0
bandit==1.7.0

entrypoints==0.3
distro==1.6.0

xlwt==1.3.0
django-adminactions==1.12.0

uritemplate==3.0.1
jsonschema==3.2.0
inflection==0.5.1
drf-spectacular==0.19.0

python-cas==1.6.0
requirements/src/django_cas_ng-4.2.2ctl-py2.py3-none-any.whl

