Django==1.11.22 # pyup: <2.0

feedparser==5.2.1

Markdown==3.0.1 # pyup: <3.1
                # for python 3.4

smartypants==2.0.1
psycopg2==2.8.3
pysqlite==2.8.3; python_version < '3'
olefile==0.46

Pillow==5.4.1 # pyup: <6
              # for python 3.4

versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.1.1
mccabe==0.6.1
pyparsing==2.4.1
pycodestyle==2.5.0
enum34==1.1.6; python_version < '3.4'
configparser==3.7.4
flake8==3.7.8
tornado==4.5.3 # pyup: <5.0
cssselect==1.0.3
lxml==4.3.4
fuzzywuzzy==0.17.0
sure==1.4.11

# IPython
decorator==4.4.0
traitlets==4.3.2
ipython_genutils==0.2.0
ptyprocess==0.6.0
pexpect==4.7.0
pickleshare==0.7.5
simplegeneric==0.8.1
path.py==11.5.2 # pyup: <12
backports.shutil_get_terminal_size==1.0.0
wcwidth==0.1.7
prompt_toolkit==2.0.9
scandir==1.10.0
pathlib2==2.3.4

pygments==2.3.1 # pyup: <2.4
                # python 3.4

ipython==5.8.0 # pyup: <6.0.0
ipdb==0.12

coverage==4.5.3
pyasn1==0.4.5
cryptography==2.7  # pyOpenSSL
pyOpenSSL==19.0.0
ndg-httpsclient==0.5.1

chardet==3.0.4
idna==2.8
urllib3==1.24.3  # pyup: <1.25
                 # py3.4

requests==2.21.0  # pyup: <2.22
                  # py3.4
logilab-common==1.4.2
logilab-astng==0.24.3
lazy-object-proxy==1.4.1
wrapt==1.11.2

pylint==1.9.5 # pyup: <2.0.0

astroid==1.6.6 # pyup: <2.0.0

six==1.12.0
ipaddress==1.0.22
text-unidecode==1.2
Faker==2.0.0
factory_boy==2.12.0
ldap3==2.6
sqlparse==0.3.0
contextlib2==0.5.5
rcssmin==1.0.6
rjsmin==1.0.12

vine==1.3.0
amqp==2.4.2 # pyup: < 2.5

amqplib==1.0.2
kombu==3.0.37 # pyup: <4.0.0
librabbitmq==2.0.0
celery==3.1.26.post2 # pyup: <4.0.0
anyjson==0.3.3
billiard==3.6.0.0
pytz==2019.1

djangowind==1.2.1
requirements/src/sorl-3.2ctl-py2.py3-none-any.whl
django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-appconf==1.0.3
django-compressor==2.3
django-statsd-mozilla==0.4.0
raven==6.10.0
django-bootstrap-form==3.4
django-debug-toolbar==1.11 # pyup: <2.0
django-waffle==0.17.0
django-jenkins==0.110.0
django-smoketest==1.1.0
django-extensions==2.2.1

# needed for django-extensions
typing==3.7.4; python_version < '3.5'

django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.4.1
django-registration-redux==2.6
django-markwhat==1.6.1
gunicorn==19.9.0
futures==3.3.0; python_version < '3'
future==0.17.1;
s3transfer==0.2.1
jmespath==0.9.4

botocore==1.12.193
boto3==1.9.194

django-infranil==1.1.0
certifi==2019.6.16  # for pysolr
pysolr==3.8.1
django-haystack==2.8.1
requirements/src/django_audit_log-0.8.0-py2.py3-none-any.whl
djangorestframework==3.9.4
djangorestframework-jsonp==1.0.2
django-celery==3.2.2 # pyup: <3.3.0
Unidecode==1.1.1
django-reversion==3.0.4
python-dateutil==2.8.0
requirements/src/edtf-0.9.3ctl-py2.py3-none-any.whl

django-storages==1.7.1
django-cacheds3storage==0.2.1
ccnmtlsettings==1.5.0
funcsigs==1.0.2
mock==3.0.5; python_version < '3'
pbr==5.4.1
celery-haystack==0.10
django-s3sign==0.1.4
django-smtp-ssl==1.0

pbr==5.4.1
pyyaml==5.1.1
stevedore>=1.20.0 # Apache-2.0
bandit==1.6.2

functools32==3.2.3-2; python_version < '3'
entrypoints==0.3
distro==1.4.0
