Django>=3.2.14,<4
asgiref==3.7.1

feedparser==6.0.8

Markdown==3.4.1

smartypants==2.0.1
psycopg2==2.9.3
olefile==0.46

versiontools==1.9.1
statsd==4.0.1
pep8==1.7.1
pyflakes==3.0.1
mccabe==0.7.0
pyparsing==3.0.1
pycodestyle==2.10.0
configparser==5.3.0
importlib-metadata<6.7 # for flake8
typing_extensions==4.6.0
zipp==3.15.0  # for flake8
flake8==6.0.0
tornado==6.3.2
cssselect==1.2.0
lxml==4.9.1
fuzzywuzzy==0.18.0
sure==2.0.0

coverage==7.2.0
pyasn1==0.5.0
cffi==1.15.1 # cryptography
cryptography==41.0.0  # pyOpenSSL


chardet==5.1.0
idna==3.4
urllib3==1.26.7  # sentry-sdk

requests==2.31.0
logilab-common==1.9.2
lazy-object-proxy==1.9.0
wrapt==1.15.0

pylint==2.17.0

astroid==2.15.0

six==1.16.0
ipaddress==1.0.23
text-unidecode==1.3
Faker==18.11.1
factory_boy==3.2.1
ldap3==2.9.1
sqlparse==0.4.4
contextlib2==21.6.0
rcssmin==1.1.0
rjsmin==1.2.0

vine==5.0.0
amqp==5.1.1
kombu==5.3.0b2
prompt-toolkit==3.0.32
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-repl==0.3.0
click-plugins==1.1.1
django-celery-results==2.5.0
wcwidth==0.2.5

billiard==3.6.4.0
pytz==2023.3

django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-appconf==1.0.5
django-compressor>=3.1,<5.0
django-statsd-mozilla==0.4.0
raven==6.10.0
sentry-sdk==1.26.0
django-bootstrap-form==3.4
django-debug-toolbar==4.1.0
django-waffle==3.0.0
django-smoketest==1.2.0
django-extensions==3.2.0

django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.9.1
django-registration-redux==2.12
django-markwhat==1.6.2
gunicorn==20.1.0
future==0.18.3
s3transfer==0.6.0
jmespath==1.0.0

botocore>=1.15.0,<1.30.0
boto3>=1.12.0,<1.27.0

django-infranil==1.1.0
certifi==2023.5.7  # for pysolr, sentry-sdk
pysolr==3.9.0
django-haystack==3.2.1
requirements/src/django_audit_log-0.8.1-py2.py3-none-any.whl
djangorestframework==3.14.0
djangorestframework-jsonp==1.0.2
Unidecode==1.3.2
django-reversion==5.0.1
python-dateutil==2.8.2
requirements/src/edtf-0.9.3ctl-py2.py3-none-any.whl

django-storages==1.13
django-cacheds3storage==0.3.0
ccnmtlsettings==1.9.4
funcsigs==1.0.2
pbr==5.11.0
django-s3sign<=0.2.1
django-smtp-ssl==1.0

pbr==5.11.0
pyyaml==6.0
stevedore>=1.20.0 # Apache-2.0
bandit==1.7.0

entrypoints==0.4
distro==1.8.0

xlwt==1.3.0
django-adminactions==1.15

uritemplate==4.1.1
jsonschema==4.17.0
inflection==0.5.1
drf-spectacular==0.26.0

python-cas==1.6.0
django-cas-ng==4.3.0
