<script type="text/template" id="xeditable-digitalobject-form">
    <div class="editable-digital-object">    
        <div class="form-group">
            <label>Select Image File</label><br />
            <div>
                <label class="btn btn-default pull-left" for="file">
                    <input style="display: none" type="file" id="file" onchange="s3_upload();" accept="image/*"/>
                    Browse
                </label>
                <div class="pull-left" id="uploaded-status"></div>
            </div>
            <input type="hidden" name="url" id="uploaded-url" />
        </div>
        <div class="visualclear"></div>
        <br />
        <div class="form-group">
            <label>Short Description</label><br />
            <input type="text" class="form-control" name="description" placeholder="Type in a short description"></input>
        </div>
    </div>
</script>