<script type="text/template" id="xeditable-digitalobject-form">
    <div class="editable-digital-object">
        <button type="button" class="btn btn-primary btn-sm editable-upload">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
        <div class="form-group">
            <label>Select Image File</label><br />
            <button class="browse btn btn-default form-control">Browse...</button> <ul class="filelist"></ul>
        </div>

        <div class="form-group">
            <label>Short Description</label><br />
            <input type="text" class="form-control" name="name" placeholder="Type in a short description"></input>
        </div>
    </div>
</script>