<script type="text/template" id="xeditable-imprint-identifier-form">
    <div class="editable-identifier">
        <div class="form-group">
            <div class="alert alert-info" role="alert">
                <strong>Hint</strong> &nbsp;Find standardized identifiers at <a target="_blank" href="http://olduli.nli.org.il/F?func=find-b-0&local_base=mbi01&con_lng=eng&_ga=2.8695477.1282912594.1597069962-1779174656.1568370937">The Bibliography of the Hebrew Book</a>
                or <a target="_blank" href="http://www.worldcat.org/advancedsearch">WorldCat (OCLC)</a>.<br/>
            </div>

            <label>Identifier Type</label><br />
            <select class="form-control" name="standardized-identifier" placeholder="Type in a role name">
                {% for stype in identifier_types.for_imprint %}
                    <option value="{{stype.slug}}">{{stype.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Identifier</label><br />
            <input type="text" class="form-control" name="identifier" placeholder="Type in a standard identifier"></input>
        </div>
    </div>
</script>
