<script type="text/template" id="xeditable-place-form">
    <div class="editable-place">
        <div class="form-group">
            <label>Pinpoint the location on a map</label> 
            <div class="help-block">
                Search by address or click the map to drop a marker.<br />
                City and country values will autopopulate based on the map location.<br />
                These modern names can be updated if not historically accurate. 
            </div>
            <input class="form-control" placeholder="Search for an address..." name="address" type="text"></div>
            <div class="map-container"></div>
        </div>
        <div class="row" style="width: 120%;">
            <div class="col-md-6">
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" placeholder="City" maxlength="256" name="city" type="text">
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country</label>
                    <input class="form-control" placeholder="Country" maxlength="256" name="country" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
