<script type="text/template" id="xeditable-place-form">
    <div class="editable-place">
        <div class="row">
            <div class="col-md-12">
                <label>Pinpoint the place on a map</label> 
                <div class="help-block alert alert-info">
                    Search by address and select a location.
                    City and country values will autopopulate based on the map location.
                    These modern names can be updated if not historically accurate.
                </div>
                <select class="form-control" name="geoname"></select>
                <div class="map-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Alternate Name (optional)</label>
                    <input class="form-control" maxlength="256" name="alt-name" type="text" placeholder="Specify an alternate name..."/>
                </div>
            </div>
        </div>
    </div>
</script>
