<script type="text/template" id="xeditable-work-identifier-form">
    <div class="editable-identifier">
        <div class="alert alert-info" role="alert">
            <strong>Hint</strong> &nbsp;Search the <a target="_blank" href="http://authorities.loc.gov">Library of Congress Authorities</a> to find the standardized identifier.<br/>
        </div>

        <div class="form-group">
            <label>Identifier Type</label><br />
            <select class="form-control" name="standardized-identifier" placeholder="Type in a role name">
                {% for stype in identifier_types.for_work %}
                    <option value="{{stype.slug}}">{{stype.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Identifier</label><br />
            <input type="text" class="form-control" name="identifier" placeholder="Type in a standard identifier"></input>
        </div>
    </div>
</script>