{% extends 'base.html' %}

{% block title %}Create Footprint{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}jquery-ui-1.11.2/jquery-ui.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/wizard.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
    <script type="text/template" id="author-list-template">
        <li>
            <input type="hidden" name="author_<%=ui.object_id%>" value="<%=ui.label%>" />
            <span><%= ui.label %></span>
            <span class="glyphicon glyphicon-remove author-delete pull-right" aria-hidden="true"></span> 
        </li>
    </script>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}jquery-ui-1.11.2/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}js/app/createFootprint.js"></script>
{% endblock %}

{% block extrajs %}
    {% comment %}nocompress{% endcomment %}
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <form id="footprint-form" class="footprint-form" role="form">
        <div role="tabpanel">
            <ul class="nav wizard-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#evidence" aria-controls="home" role="tab" data-toggle="tab">
                        <span class="step-number">1. </span>Evidence
                    </a></li>
                <li role="presentation" class="disabled">
                    <a href="#title" aria-controls="profile" role="tab" data-toggle="tab">
                        <span class="step-number">2. </span>Title
                    </a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="#author" aria-controls="messages" role="tab" data-toggle="tab">
                        <span class="step-number">3. </span>Authors
                    </a>
                </li>
            </ul>

            <div class="tab-content well">
                <div role="tabpanel" class="tab-pane active wizard-pane" id="evidence">
                    <div class="form-content">
                        <div class="form-group">
                            <h3>Describe the evidence</h3>
                            <br />
                            <label>What is the medium of evidence?</label>
                            <div class="help-block">
                                The medium of evidence is where the footprint is derived or deduced from, e.g.,
                                an extant copy with an owner’s signature, a library mark, a booklist/catalog/inventory, 
                                a reference to a book coming into someone’s possession in a paratext to another work.
                            </div>
                            <textarea class="form-control" name="footprint-medium"></textarea>
                            <div class="error-block">This field is required.</div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>What is the provenance of evidence?</label>
                            <div class="help-block">
                                The provenance of evidence describes where can one find the evidence now, e.g.,
                                a particular library, archive, a printed book, a journal article.
                            </div>
                            <textarea class="form-control" name="footprint-provenance"></textarea>
                            <div class="error-block">This field is required.</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="btn-toolbar pull-right" role="toolbar">
                        <div class="btn-group" role="group"><a href="#title" class="btn btn-primary btn-next">Next</a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div role="tabpanel" class="tab-pane wizard-pane" id="title">
                    <div class="form-content">
                        <div class="form-group">
                            <h3>Record the title</h3>
                            <br />
                            <label>How is the work's title displayed in the evidence?</label>
                            <div class="help-block">
                                Enter the work's title exactly as it appears in the medium of evidence. 
                                Abbreviations and alternate spellings are expected. You can link this footprint to a
                                standardized title after the footprint is created.
                            </div>
                            <input type="text" class="form-control" name="footprint-title" placeholder=""/>
                            <div class="error-block">This field is required.</div>
                        </div>
                    </div>                    
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group pull-left" role="group"><a href="#evidence" class="btn btn-primary">Previous</a></div>
                        <div class="btn-group pull-right" role="group"><a href="#author" class="btn btn-primary btn-next">Next</a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane wizard-pane" id="author">
                    <div class="form-content">
                        <div class="form-group">
                            <h3>Identify the authors</h3>
                            <br />
                            <label>Do you know this work's authors?</label>
                            <div class="help-block">
                                <i>Developer note: As this step is optional, should it be left until the advanced entry screen?</i><br /> 
                                If you know who authored this work, you can enter the information now.<br />
                                Press Continue to skip this step. The information can be entered at a later time.
                            </div>
                            <ul class="selected-authors"></ul>
                            <input type="text" class="form-control" name="footprint-author" placeholder="Type in an author's name"/>
                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group pull-left" role="group"><a href="#title" class="btn btn-primary">Previous</a></div>
                        <div class="btn-group pull-right" role="group"><a href="/footprint/" class="btn btn-primary">Save & Continue</a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}