{% load records %}

<div class="dynamic-list-container">
    {% if total < 1 %}
        <div class="alert alert-info" role="alert">
            No {{model_display_name}} instances found
        </div>
    {% else %}
        <div>
            <div class="result-total pull-left">{{first}} - {{last}} of {{total}} objects found</div> 
            <ul class="pagination pagination-sm pull-right">
                {% for page in pages %}
                    {% ifequal page current_page %}
                        <li class="active"><a class="page-link disabled"
                    {% else %}
                        <li><a class="page-link"
                    {% endifequal %}
                        href="/model/list/?page={{page}}">{{page}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <table class="tablesorter tablesorter-bootstrap table table-bordered table-striped table-condensed">
            <thead>
                <tr class="tab">
                    {% for header in headers %}
                        <th>{{header|capfirst}}</th>
                    {% endfor %}
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        {% get_record_fields object as fields %}
                        {% for field in fields %}
                            <td>{{field}}</td>
                        {% endfor %}
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>