{% load compress %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Footprints: {% block title %}{% endblock %}{{ flatpage.title }}</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Footprints">
        <meta name="author" content="CCNMTL">
        <meta name="robots" content="noindex">
      
        <!-- Bootstrap CSS: -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        {% compress css %}
            <!-- Application CSS: -->
            <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
            {% block css %}{% endblock %}
        {% endcompress %}
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" /> 
      
        <script src="{{STATIC_URL}}jquery/js/jquery-1.10.1.min.js"></script>
        <script src="{{STATIC_URL}}tinymce/tinymce.min.js"></script>
        <script src="{{STATIC_URL}}js/app/csrf-protection.js"></script>
        <link href="//fonts.googleapis.com/css?family=Asap:400,700,400italic" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

        {% block extrahead %}{% endblock %}
        {% block feeds %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
    <div id="wrap">    
    {% block topnavbar %}
    
<div class="container header">
    <div class="logo">
         
    </div>
    
    <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-pl"  style="border: 1px solid #ccc;">
                    <span class="sr-only">Toggle Navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
                 
                 <a class="navbar-brand" href="/"><img class="img-responsive" src="{{STATIC_URL}}img/fp_header_logo.png" alt="Footprints" /></a>
<!--<a class="navbar-brand cjh" href="/"><img class="img-responsive" src="{{STATIC_URL}}img/fp_cjh_logo.png" alt="Footprints" /></a> -->
            </div>

            <!--/.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar-collapse-pl">
                <ul class="nav navbar-nav navbar-right navbar-nav-pl">
                        {% block usernav %}
                            <li><a href="/about/">About</a></li>
                            {% if not request.user.is_anonymous %}
                                <li><a href="/footprint/create/">Create</a></li>
                                {% if request.user.is_staff %}
                                    <li><a href="/batch/">Import</a></li>
                                {% endif %}
                            {% endif %}
                            <li><a href="/browse/footprints/">Browse</a></li>
                            <!-- li><a href="/search/">Search</a></li-->
							<li><a href="http://edblogs.columbia.edu/footprints/" target="_blank">Blog</a></li>
                            {% if request.user.is_anonymous %}
                                <li><a id="login-link" href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
                            {% else %}
                            <li class="logged-in-greeting">
                                <a href="/accounts/logout/?next=/"><span title="Log Out">Log Out</span></a>
                            </li>
                        {% endif %}
                        
                    {% endblock %}
                 </ul>
            </div>
            <!--/.nav-collapse -->
    </nav><!--/.navbar-pl -->
</div>    
    {% endblock %}
    
    {% if request.user.is_anonymous %}
    <!-- Login Modal -->
    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="loginLabel">Facilitators</h4>
              </div><!-- /.modal-header -->
                
                <div class="modal-body">
                    
                    <form id="login-local" name="login_local" method="post" action="/accounts/login/" class="form-horizontal" role="form">
                    
                        {% csrf_token %}
                        <div class="login-local-form">
                        
                            <div class="local-login-errors alert alert-danger" style="display: none;">
                           <span><b>Invalid username or password.</b></span>
                           Please try again. Note that both username and password are case-sensitive.
                        </div>
                    
                            <div class="form-group">
                         <label for="id_username" class="col-sm-4 control-label">User Name</label>
                         <div class="col-sm-8">
                           {{ login_form.username }}
                         </div>
                        </div>
                    
                            <div class="form-group">
                         <label for="id_password" class="col-sm-4 control-label">Password</label>
                         <div class="col-sm-8">
                           {{ login_form.password }}
                         </div>
                        </div>
                        
                            <div class="form-group">
                         <div class="col-sm-offset-4 col-sm-8">
                           <input class="btn btn-primary login-local-form" type="submit" value="Log In"  />                        
                           <input type="hidden" name="next" value="/" />
                         </div>
                        </div>
                        
                            </div><!--/ .login-local-form -->
                    
                    </form>
    
                 {% if request.user.is_anonymous %}
                    <div class="pull-right">
                        <a href="/accounts/password_reset/">Forgot Password?</a>
                    </div>
                    <div style="clear: both"></div>
                 {% endif %}                  
                 {% if CAS_BASE %}
                    <form method="get" action="{{ CAS_BASE }}cas/login" style="float: right">
                        <input type="hidden" name="destination"
                        value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next=/" />
                        <input class="btn btn-default btn-small login-uni-button" type="submit" value="Columbia University Network ID (UNI)" />
                        <div style="clear: both;"></div>
                    </form>
                    <div style="clear: both"></div>
                 {% endif %}<!-- CAS -->
            </div><!-- /.modal-body -->
           </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}<!-- request.user.is_anonymous -->
    
    <div class="banner-pl">
      <div class="container container-banner">
        <div class="banner-pl-bg">
         <div class="logo-pl">
           {% comment %}
              <a href="/"><span>Footprints</span></a>
           {% endcomment %}
         </div>
        </div><!--/ .banner-pl-bg -->
      </div><!--/ .container-banner -->
    </div><!--/ .banner-pl -->
    
    {% block outercontainer %}
    
    <div class="container container-pl" id="outer-container">
    
        <div class="content">
            {% block primarynav %}{% endblock %}
            {% block pagemode %}{% endblock %}
            <div class="row">
              <div class="col-md-12 page">                
                 {% block content %}
                 {% endblock %}
                 {% block content-nav %}
                 {% endblock %}                
              </div>
           </div> <!-- /.row -->
        </div> <!-- /.content -->
    
    </div> <!-- /.container-pl -->
    
    {% endblock %}
    <div class="clearfooter"></div>
 </div>   <!-- /#wrap -->
    {% block footer %}
    <div class="container foot">
    <footer class="footer">
        
        <ul class="footer-navigation">
            <li><a href="/credits/">Credits</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/glossary/">Glossary</a></li>
            {% if user.has_usable_password %}
            <li><a href="/accounts/password_change/">Password</a></li>
            {% endif %}
            <li class="fp_socialmedia"><a href="https://www.facebook.com/footprintsHeb/" target="_blank" title="Footprints on Facebook"><img src="{{STATIC_URL}}img/footer_fb_logo.png" target="_blank" alt="Footprints on Facebook"></a></li>
            <li class="fp_socialmedia"><a href="https://twitter.com/Footprints_Heb" target="_blank" title="Footprints on Twitter"><img src="{{STATIC_URL}}img/footer_twitter_logo.png" target="_blank" alt="Footprints on Twitter"></a></li>
        </ul>                    
        
        <div class="footer-branding">
            <p class="description1">Footprints grew out of the Scholars Working Group on the Jewish Book at the Center for Jewish History and was developed as a collaboration of educators and researchers from the following institutions:</p>
            
            <div class="institutions-research clearfix">
                <div class="footer-line1">
                <div class="logos-ir"><a href="http://www.jtsa.edu/"><img src="{{STATIC_URL}}img/fp_jts_logo.png" target="_blank" alt="Jewish Theological Seminary"></a></div>
                <div class="logos-ir"><a href="http://library.columbia.edu"><img src="{{STATIC_URL}}img/fp_cul_logo.png" target="_blank" alt="Columbia University Libraries"></a></div>
                </div>
                <div class="footer-line2">
                <div class="logos-ir"><a href="http://www.pitt.edu/"><img src="{{STATIC_URL}}img/fp_pitt2_logo.png" target="_blank" alt="University of Pittsburgh"></a></div>
                <div class="logos-ir"><a href="http://www.stonybrook.edu/"><img src="{{STATIC_URL}}img/fp_stonybrook_logo.png" target="_blank" alt="Stony Brook University"></a></div>
                </div>
            </div>
            
            <p class="description2">This project was made possible by generous support from:</p>
    
            <ul class="footer-logos footer-line3">
            <li><a href="http://www.cjh.org"><img src="{{STATIC_URL}}img/fp_cjh_logo.png" target="_blank" alt="Center for Jewish History"></a></li>
            <li><a href="http://ctl.columbia.edu"><img src="{{STATIC_URL}}img/fp_ctl_logo.png" target="_blank" alt="Columbia University's Center for Teaching and Learning"></a></li>
            </ul>
        </div>
    </footer>
    </div>
    {% endblock %}

    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    {% if request.user.is_anonymous %}
        <script src="{{STATIC_URL}}js/app/login.js"></script>
    
        <script type="text/javascript"> 
           jQuery(document).ready(function() {
              var loginView = new LocalLoginView({
                 el: jQuery("div#login-modal") 
              });
           });
        </script>
    {% endif %}
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
           // setup some ajax progress indicator
           jQuery("html").bind("ajaxStart", function(){  
              jQuery(this).addClass("busy");
           }).bind("ajaxStop", function() {  
              jQuery(this).removeClass("busy");
           });
        });
    </script>
    
    {% block js %}{% endblock %}
    
    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
        </div>
    {% endif %}
    
    {% if request.user.is_impersonate %}
    <div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    You are impersonating.<br />
    <a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
    </div>
    {% endif %}
    
    {% if GA_CODE %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', '{{GA_CODE}}', 'columbia.edu');
      ga('send', 'pageview');
    </script>
    {% endif %}
    
    </body>

</html>
