{% extends 'base-new.html' %}

{% block title %}Pathmapper{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/pathmapper-tool.css" rel="stylesheet">
<link href="{{STATIC_URL}}js/lib/select2-4.0.10/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}pathmapper-tool{% endblock %}
{% block mainclass %}container-fluid px-0 map-space{% endblock %}
{% block footerclass %}d-none{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "clientside/pathmapper_table.html" %}
    {% include "clientside/pathmapper_map.html" %}
    {% include "clientside/layer_list_template.html" %}
    {% include "clientside/layer_form_template.html" %}
    {% include "clientside/select_widget_template.html" %}
{% endblock %}

{% block content %}
    <div id="search-container">
        <layer-list v-model="collection.layers" />
    </div>

    <div id="share-view-container">
        <div class="widget-share-map-table">
            <button type="button" class="btn btn-share" title="Share results"><i class="fas fa-share-alt"></i></i></button>
            <button v-on:click="switchToMap"  type="button" :class="['btn', 'btn-view', {'active': showMap}]">
                Map view
            </button>
            <button v-on:click="switchToTable" type="button" :class="['btn', 'btn-view', {'active': !showMap}]">
                Table view
            </button>
        </div><!-- /.widget-share-map-table -->
    </div>

    <!--
        Using the v-if syntax here results in these components being
        created and destroyed as they are shown and hidden. This may impact
        performance in both positive and negative ways. To be monitored.
    -->
    <div v-if="!showMap" id="table-container">
        <pathmapper-table v-model="collection.layers" />
    </div>

    <div v-if="showMap" id="map-container">
        <pathmapper-map :layers="collection.layers" />
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script data-main="{{STATIC_URL}}js/app/pathmapper.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}
