{% extends 'base-new.html' %}

{% block title %}Pathmapper{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/pathmapper-tool.css" rel="stylesheet">
<link href="{{STATIC_URL}}js/lib/select2-4.0.10/css/select2.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/select2-custom.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}pathmapper-tool{% endblock %}
{% block mainclass %}container-fluid px-0 map-space{% endblock %}
{% block footerclass %}d-none{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "clientside/layer_form_template.html" %}
    {% include "clientside/layer_list_template.html" %}
    {% include "clientside/pathmapper_location.html" %}
    {% include "clientside/pathmapper_map.html" %}
    {% include "clientside/pathmapper_table.html" %}
    {% include "clientside/pathmapper_timeline.html" %}
    {% include "clientside/select_widget_template.html" %}
{% endblock %}

{% block content %}
    <div id="search-container">
        <layer-list v-model="collection.layers"
            :selected-location="selectedLocation"
            v-on:clearlocation="clearLocation" />
    </div>

    <div id="share-view-container">
        <div class="widget-share-map-table d-flex flex-row">
            <button v-on:click="switchToMap"  type="button" :class="['btn', 'btn-view', 'order-2', {'active': showMap}]">
                Map view
            </button>
            <button v-on:click="switchToTable" type="button" :class="['btn', 'btn-view', 'order-3', {'active': !showMap}]">
                Table view
            </button>
            <button type="button" class="btn btn-share order-1" title="Share results" v-on:click="shareResults"><i class="fas fa-share-alt"></i></i></button>
        </div><!-- /.widget-share-map-table -->
        <div class="widget-share-panel share-panel-collapsed" id="share-panel-focus">
            <div class="share-panel-content">
                <div class="share-panel-header d-flex justify-content-between">
                    <h2>Share results</h2>
                </div><!-- /.share-panel-header -->
                <div class="share-panel-copylink form-group">
                    <label for="shareCopyLink">Link to share:</label>
                    <input type="text" class="form-control" id="shareCopyLink" :value="shareUrl">
                </div><!-- /.share-panel-copylink -->
                <div class="share-panel-socmedia d-flex justify-content-center">
                    <button class="share-panel-facebook" value="Facebook">
                        <i class="fab fa-facebook-square fa-3x"></i>
                        <span>Facebook</span>
                    </button>
                    <button class="share-panel-twitter">
                        <i class="fab fa-twitter-square fa-3x"></i>
                        <span>Twitter</span>
                    </button>
                </div><!-- /.share-panel-socmedia -->
                <button type="button" class="btn share-panel-close" aria-label="Close" v-on:click="closeShareResults">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div><!-- /.share-panel-content -->
        </div><!-- /.widget-share-panel -->
    </div>

    <!--
        Using the v-if syntax here results in these components being
        created and destroyed as they are shown and hidden. This may impact
        performance in both positive and negative ways. To be monitored.
    -->
    <div v-if="!showMap" id="table-container">
        <pathmapper-table v-model="collection.layers" />
    </div>

    <div v-if="showMap" id="map-container">
        <pathmapper-map :layers="collection.layers" v-model="selectedLocation" />
    </div>

    <div v-if="showMap" id="timeline-container">
        <pathmapper-timeline v-model="collection.layers"></pathmapper-timeline>
    </div>

{% endblock %}

{% block js %}
    <!--  
        When accessed through a permalink, the backing view parses a set
        of abbreviated GET parameters, then renders the expanded layer objects
        out to the DOM. Taking this approach to: keep the url clean,
        handle argument sanitizing on the server-side, reduce client-side code
        load.
    -->
    {{ layers|json_script:"layers" }}

    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>

    <script data-main="{{STATIC_URL}}js/app/pathmapper.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}
