{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footprints: PathMapper</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Footprints">
    <meta name="author" content="CCNMTL">
    <meta name="robots" content="noindex">
  
    <!-- Bootstrap CSS: -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {% compress css %}
        <!-- Application CSS: -->
        <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/custom-responsive.css" rel="stylesheet">
    {% endcompress %}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" /> 
  
    <script src="{{STATIC_URL}}jquery/js/jquery-1.10.1.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Asap:400,700,400italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>

</head>

<body class="pathmapper">
<div id="wrap">
<div class="header">
    <div class="container">
        <div class="logo"><a href="/"></a></div>
        <div class="brand">PATHMAPPER</div>
    </div>
</div><!-- /.header -->

<div class="container banner">
    <div class="intro">
    Some short text here as an overview of what PathMapper is, what we think it will do for scholarly research.
    <a href="https://ccnmtl-footprints-static-prod.s3.amazonaws.com/design/pathmapper.pdf" target="_blank" class="download"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download PDF</a>
    </div>
</div>

<div class="container slidebox clearfix odd">
    <h3 class="visible-xs visible-sm">Slide 1</h3>
    <div class="visual">
    <img src="{{STATIC_URL}}img/pathmapper-test.png">
    </div>
    <div class="text">
        <h3 class="visible-lg visible-md">Slide 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus vel odio ultricies ornare vitae a neque. Cras convallis augue eget elit sollicitudin suscipit. Cras sapien diam, elementum ultricies porttitor non, mollis vitae magna. Maecenas sagittis interdum dolor eu pulvinar. Nunc rutrum aliquam porta. Nullam mattis lectus ultrices, imperdiet nisi id, ullamcorper velit. Phasellus a dignissim odio, eget mollis quam.</p>
        
        <p>Morbi a lobortis leo. Morbi sed est tempus, mollis purus quis, scelerisque ante. Cras varius faucibus purus, a volutpat augue rutrum ac. Donec euismod dolor nec pellentesque sollicitudin. Donec lacinia tortor quis iaculis accumsan. Pellentesque eget sollicitudin dui, sed interdum felis. Nunc ac nisi eu felis scelerisque pellentesque. Vivamus aliquet molestie vulputate. Morbi sit amet pretium leo, vel lobortis sapien.        
    </div>
</div>

<div class="container slidebox clearfix even">
    <h3 class="visible-xs visible-sm">Slide 2</h3>
    <div class="visual">
    <img src="{{STATIC_URL}}img/pathmapper-test.png">
    </div>
    <div class="text">
        <h3 class="visible-lg visible-md">Slide 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus vel odio ultricies ornare vitae a neque. Cras convallis augue eget elit sollicitudin suscipit. Cras sapien diam, elementum ultricies porttitor non, mollis vitae magna. Maecenas sagittis interdum dolor eu pulvinar. Nunc rutrum aliquam porta. Nullam mattis lectus ultrices, imperdiet nisi id, ullamcorper velit. Phasellus a dignissim odio, eget mollis quam.</p>
        
        <p>Morbi a lobortis leo. Morbi sed est tempus, mollis purus quis, scelerisque ante. Cras varius faucibus purus, a volutpat augue rutrum ac. Donec euismod dolor nec pellentesque sollicitudin. Donec lacinia tortor quis iaculis accumsan. Pellentesque eget sollicitudin dui, sed interdum felis. Nunc ac nisi eu felis scelerisque pellentesque. Vivamus aliquet molestie vulputate. Morbi sit amet pretium leo, vel lobortis sapien.        
    </div>
</div>

<div class="container footer clearfix">
Some text here to invite users to download the PDF
</div>


</div><!-- /#wrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
