{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
            
<div class="object-search">
    <div class="row">
        <div class="col-md-3">
            <h2>Search</h2>
            <form method="get" action=".">
                <br />
                <div class="form-group">
                    <label for="q">Search for</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                        {{form.q}}
                    </div>
                    
                </div>
                <br />
                <div class="form-group">
                    <label for="models">Filter By Record Type</label>
                    {{form.models}}
                </div>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        <div class="col-md-9">
            {% if page %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="pull-left">
                                Displaying {{page.start_index}} - {{page.end_index}} of {{paginator.count}} items
                            </div>
                            {% if paginator.num_pages > 1 %}
                                <ul class="pagination pagination-sm pull-right">
                                    {% for a_page in paginator.page_range %}
                                        {% ifequal page.number a_page %}
                                            <li class="active"><a class="page-link disabled"
                                        {% else %}
                                            <li><a class="page-link"
                                        {% endifequal %}
                                            href="?{{form.get_query_params}}&amp;page={{ a_page }}">{{a_page}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for result in page.object_list %}
                            <p>
                                {% ifequal result.model_name 'footprint' %}
                                    <img src="{{STATIC_URL}}img/footprint.png" />
                                {% endifequal %}
                                {% ifequal result.model_name 'person' %}
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {% endifequal %}
                                {% ifequal result.model_name 'place' %}
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                {% endifequal %}
                                {% ifequal result.model_name 'imprint' %}
                                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                {% endifequal %}
                                {% ifequal result.model_name 'writtenwork' %}
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                {% endifequal %}
                                
                                {% if result.model_name == 'footprint' %}
                                <a href="/{{result.model_name}}/{{result.object.id}}/">
                                    {{result.object}}
                                </a>
                                {% else %}
                                    <span>{{result.object}}</span>
                                {% endif %}
                            </p>
                        {% empty %}
                            <p>No results found.</p>
                        {% endfor %}
                    </div>
                    {% if page.has_previous or page.has_next %}
                        <nav>
                          <ul class="pager">
                            {% if page.has_previous %}
                                <li><a href="?{{form.get_query_params}}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">&laquo; Previous</a>
                            {% endif %}
                            {% if page.has_next %}
                                <li><a href="?{{form.get_query_params}}&amp;page={{ page.next_page_number }}">Next &raquo;</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Next &raquo;</a>
                            {% endif %}
                          </ul>
                        </nav>
                    {% endif %}
                </div>
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>
    </div>
</div>    
{% endblock %}