{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Search</h1>
</div>
            
<div class="object-search">
    <div class="row">
        <div class="col-md-3">
        
            <form method="get" action=".">
                <br />
                <div class="form-group">
                    <label for="q">Search for</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                        {{form.q}}
                    </div>
                    
                </div>
                <br />
                <div class="form-group">
                    <label for="models">Filter By Record Type</label>
                    <ul id="id_models">
                    <li><label for="id_models_0"><input class="regDropDown" id="id_models_0" name="models" type="checkbox" value="main.footprint"> Footprint</label></li>
                    <li><label for="id_models_1"><input class="regDropDown" id="id_models_1" name="models" type="checkbox" value="main.place"> Place</label></li>
                    <li><label for="id_models_2"><input class="regDropDown" id="id_models_2" name="models" type="checkbox" value="main.person"> Person</label></li>
                    <li><label for="id_models_3"><input class="regDropDown" id="id_models_3" name="models" type="checkbox" value="main.writtenwork"> Literary Work</label></li>
                    </ul>
                </div>
                <input class="btn btn-default" type="reset" value="Clear"></input>
                <input class="btn btn-primary" type="submit" value="Search"></input>
            </form>
        </div>
        <div class="col-md-9">
            {% if form.is_bound %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="pull-left">
                                Displaying {{page.start_index}} - {{page.end_index}} of {{paginator.count}} items
                            </div>
                            {% if paginator.num_pages > 1 %}
                                <ul class="pagination pagination-sm pull-right">
                                    {% for a_page in paginator.page_range %}
                                        {% ifequal page.number a_page %}
                                            <li class="active"><a class="page-link disabled"
                                        {% else %}
                                            <li><a class="page-link"
                                        {% endifequal %}
                                            href="?{{form.get_query_params}}&amp;page={{ a_page }}">{{a_page}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for result in page.object_list %}
                            <div class="search-result {% cycle 'odd' 'even' %}" data-href="/{{result.model_name}}/{{result.object.id}}/">
                                {% ifequal result.model_name 'footprint' %}
                                    <h4><img src="{{STATIC_URL}}img/footprint.png" />{{result.object.display_title}}</h4>
                                    {{result.object.description}}
                                {% else %}{% ifequal result.model_name 'person' %}
                                    <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{result.object}}</h4>
                                {% else %}{% ifequal result.model_name 'place' %}
                                    <h4><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{result.object}}</h4>
                                {% else %}{% ifequal result.model_name 'writtenwork' %}
                                    <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{result.object.title}}</h4>
                                    <dl class="dl-horizontal">
                                    {% with authors=result.object.authors %}
                                        {% for actor in authors %}
                                            <dt>Author</dt><dd>{{actor.display_name}}</dd>
                                        {% endfor %}
                                    {% endwith %}
                                    </dl>
                                {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
                                
                            </div>
                        {% empty %}
                            <div class="no-results"><h4>No results found</h4></div>
                        {% endfor %}
                    </div>
                    {% if page.has_previous or page.has_next %}
                        <nav>
                          <ul class="pager">
                            {% if page.has_previous %}
                                <li><a href="?{{form.get_query_params}}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">&laquo; Previous</a>
                            {% endif %}
                            {% if page.has_next %}
                                <li><a href="?{{form.get_query_params}}&amp;page={{ page.next_page_number }}">Next &raquo;</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Next &raquo;</a>
                            {% endif %}
                          </ul>
                        </nav>
                    {% endif %}
                </div>
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>
    </div>
</div>    
{% endblock %}

{% block js %}
<script type="text/javascript">

    jQuery(document).ready(function() {
        jQuery('.search-result').click(function() {
            var url = jQuery(this).data('href');
            window.location = url;
        });
        
        jQuery('input:reset').click(function(evt) {
            window.location = '/search/';
        });
    });
</script>
{% endblock %}