{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="get" action="/cas/login">
<input type="hidden" name="next" value="/admin/" />
<p>If you have a Columbia UNI, you already have an account and can
login through WIND with it</p>
<input type="submit" value="Here" />
</form>

{% if debug %}
<p>otherwise: </p>

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% translate 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% translate 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="post_data" value="{{ post_data }}" /> {#<span class="help">{% translate 'Have you <a href="/password_reset/">forgotten your password</a>?' %}</span>#}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% translate 'Log in' %}" />
  </div>
</form>
{% endif %}

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
