<script type="text/template" id="book-detail-template">
<div class="breadcrumb">THE BOOK</div>
<dl class="dl-horizontal">
    <% if (imprint.work.title.length > 0) { %>
        <dt>Title</dt>
        <dd><a href="#" class="<% if (editable) { %>editable<% } else { %>readonly<% } %>"
                data-attribute-name="title"  data-name="title"
                data-type="text" data-pk="<%=imprint.work.id%>"
                data-params="{csrfmiddlewaretoken:'<%=csrf_token%>'}"
                data-url="/api/writtenwork/<%=imprint.work.id%>/">
                <%=imprint.work.title%>
            </a>
        </dd>
    <% } %>
</dl>


<% if (editable) { %>
    <dl class="dl-horizontal">
        <dt>Do you know...</dt>
        <dd>  
            <ul class="additional-questions">
                <% if (imprint.work.title.length < 1) { %>
                    <li>
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        <a href="#" class="<% if (editable) { %>editable<% } %> do-you-know persistant"
                            data-name="title" data-type="text" data-pk="<%=imprint.work.id%>" data-value=""
                            data-params="{csrfmiddlewaretoken:'<%=csrf_token%>'}"
                            data-url="/api/writtenwork/<%=imprint.work.id%>/">the title of the written work?</a>
                    </li>
                <% } %>
            </ul>
       </dd>
    </dl>
<% } %>
</script>
