<script type="text/template" id="footprint-detail-template">
    <div class="breadcrumb">
        A Footprint
    </div>
    <% if (narrative && narrative.length > 0) { %>
        <blockquote class="blockquote">
        <% if (can_edit_footprint) { %>
            <a href="javascript:void(0);" class="editable"
                data-name="narrative" data-type="textarea" data-pk="<%=id%>"
                data-url="/api/footprint/<%=id%>/"><%=narrative%></a>
        <% } else { %>
            <%=narrative%>
        <% } %>
       </blockquote>
    <% } %>
    <% if (digital_object && digital_object.length > 0) { %> 
        <div class="footprint-photo-gallery">
            <% if (can_edit_footprint) { %>
            <a href="#" class="toggle-edit-digital-object pull-right">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <% } %>
            <div class="clearfix"></div>
            <div id="thumbnails" class="carousel slide">
                <div class="carousel-inner">
                    <% var limit=6, i=0; %>
                    <% while (i < digital_object.length) { %>
                            <div class="item <% if (i < limit) { %>active<% } %>">
                                <div class="row">
                                    <% for (var j=0; j < limit && i < digital_object.length; j++, i++) { %>
                                        <div class="col-sm-2">
                                            <div class="crop">
                                                <img src="<%=digital_object[i].url%>"
                                                    alt="<%=digital_object[i].alt_text%>"
                                                    class="img-responsive" data-id="<%=digital_object[i].id%>" />
                                            </div>
                                            <% if (can_edit_footprint) { %>
                                                <div class="edit-digital-object" style="display: none">
                                                    <a href="javascript:void(0);" class="remove-related"
                                                        data-params="{attr:'digital_object',child_id:'<%=digital_object[i].id%>',parent_id:<%=id%>,parent_model:'footprint'}" 
                                                        data-url="/remove/related/"
                                                        title="remove image">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </a>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                    <% } %>
                </div>
            </div>
            <% if (digital_object.length > limit) { %>
            <a class="pull-left prev-arrow" href="#thumbnails" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="pull-right next-arrow" href="#thumbnails" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
            <% } %>
        </div>
        <div class="clearfix"></div>
    <% } %>
    <dl class="dl-horizontal">
        <% if (associated_date) { %>
            <dt>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                    title="The footprint's date describes when the literary work was identified for this footprint, e.g. a bill of sale dated June 30, 1659.">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                Footprint Date
            </dt>
            <dd class="border-bottom">
                <%=associated_date.display%>
                <% if (can_edit_footprint) { %>
                    <div class="pull-right">
                        <a href="javascript:void(0);" class="remove-related"
                            data-params="{attr:'associated_date',child_id:'<%=associated_date.id%>',parent_id:<%=id%>,parent_model:'footprint'}" 
                            data-url="/remove/related/"
                            title="remove date">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                <% } %>
            </dd>
        <% } %>
        <% if (place) { %>
            <dt>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                    title="The footprint place describes where the literary work was located in time, e.g. a French bookseller may have recorded the sale of a literary work in Paris.">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                Footprint Place
            </dt>
            <dd class="border-bottom footprint-place">
                <span><%=place.display_title%></span>
                <div class="pull-right">
                    <% if (can_edit_footprint) { %>
                        <a href="javascript:void(0);" class="remove-related"
                            data-params="{attr:'place',child_id:'<%=place.id%>',parent_id:<%=id%>,parent_model:'footprint'}" 
                            data-url="/remove/related/"
                            title="remove place">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    <% } %>
                </div>
                <div class="clearfix"></div>
                <div class="footprint-map"
                    data-latitude="<%=place.latitude%>"
                    data-longitude="<%=place.longitude%>"
                    data-title="<%=place.display_title%>">
                </div>
            </dd>
        <% } %>
        <% if (language.length > 0) { %>
            <dt>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                    title="The footprint's language describes how the literary work was identified, e.g. an owner's inscription may have been written in Hebrew.">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                Footprint Language
            </dt>
            <dd class="border-bottom">
                <% if (can_edit_footprint) { %>
                    <a href="javascript:void(0);" class="editable-language"
                        data-name="language" data-method="post"
                        data-type="select2" data-pk="<%=id%>"
                        data-value="[<% for (var i=0; i < language.length; i++) { %><%=language[i].id%><% if (i < language.length-1) { %> ,<% } }%>]"
                        data-params="{parent_id:<%=id%>,parent_model:'footprint'}"
                        data-url="/language/add/">
                <% } %>
                <% for (var i=0; i < language.length; i++) { %> 
                    <%= language[i].name %><% if (i < language.length-1) { %> , <% } %>
                <% } %>
                <% if (can_edit_footprint) { %>
                    </a>
                <% } %>
            </dd>
        <% } %>
        <dt>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                title="The literary work's title exactly as it appears in the evidence. Abbreviations and alternate spellings are expected. Footprint titles can be entered in any language.">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
            Footprint Title
        </dt>
        <dd class="border-bottom">
            <% if (can_edit_footprint) { %>
                <a href="javascript:void(0);" class="editable-required"
                    data-name="title" data-type="text" data-pk="<%=id%>"
                    data-url="/api/footprint/<%=id%>/"><%=title%></a>
            <% } else { %>
                <%=title%>
            <% } %>
        </dd>
        <% for (var i=0; i < actor.length; i++) { %> 
            <dt><%=actor[i].role.name%></dt>
            <dd class="border-bottom">
                <% if (actor[i].person.standardized_identifier) { %>
                    <span class="standard-identifier-logo">
                        <a href="https://viaf.org/viaf/<%=actor[i].person.standardized_identifier.identifier%>/">
                            <img src="<%=static_url%>img/oclc.png" alt="Link to VIAF Record"/>
                        </a>
                    </span>
                <% } %>
                <span><%=actor[i].person.name%><% if (actor[i].alias) { %>  as <%=actor[i].alias%> <% } %></span> 
                <div class="pull-right">
                    <% if (can_edit_footprint) { %>
                        <a href="javascript:void(0);" class="remove-related"
                            data-params="{attr:'actor',child_id:'<%=actor[i].id%>',parent_id:<%=id%>,parent_model:'footprint'}" 
                            data-url="/remove/related/"
                            title="remove actor">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    <% } %>
                </div>
            </dd>
        <% } %>

        <% if (notes && notes.length > 0) { %>
            <dt>Notes</dt>
            <dd class="border-bottom">
                <% if (can_edit_footprint) { %>
                    <a href="javascript:void(0);" class="editable"
                        data-name="notes"
                        data-type="textarea" data-pk="<%=id%>"
                        data-url="/api/footprint/<%=id%>/"><%=notes%></a>
                <% } else { %>
                    <%=notes%>
                <% } %>
            </dd>
        <% } %>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                title="The evidence type is where the footprint is derived or deduced from, e.g., an extant copy with an owner’s signature, a library mark, a book list or catalog,  a reference to a book coming into someone’s possession in a paratext to another work.">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
            Evidence Type
        </dt>
        <dd class="border-bottom">
            <% if (can_edit_footprint) { %>
                <a href="javascript:void(0);" class="editable-medium"
                    data-name="medium"
                    data-type="select2" data-pk="<%=id%>"
                    data-value="<%=medium%>"
                    data-url="/api/footprint/<%=id%>/"><%=medium%>
                </a>
            <% } else { %>
                <%=medium%>
            <% } %>
        </dd>
        <% if (medium_description && medium_description.length > 0) { %>
            <dt>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                    title='This field contains specific details about the evidence itself, e.g. an auction catalog title or the text of an owner’s marginalia. Discussion on how you established the footprint through deductions, extrapolation, as a researcher should be in the general "Notes" field.'>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
                Evidence Description
            </dt>
            <dd class="border-bottom">
                <% if (can_edit_footprint) { %>
                    <a href="javascript:void(0);" class="editable"
                        data-name="medium_description"
                        data-type="text" data-pk="<%=id%>"
                        data-url="/api/footprint/<%=id%>/"><%=medium_description%></a>
                <% } else { %>
                    <%=medium_description%>
                <% } %>
             </dd>
        <% } %>
        <dt>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                title='This field describes the physical location for the evidence. Examples might include a library or archive for unpublished or rare material or extant copies. For printed material available widely, specify "Multiple Locations."'>
                <span class="glyphicon glyphicon-question-sign"
                aria-hidden="true"></span>
            </a>
            Evidence Location
        </dt>
        <dd class="border-bottom">
            <% if (can_edit_footprint) { %>
                <a href="javascript:void(0);" class="editable-required"
                    data-name="provenance"
                    data-type="text" data-pk="<%=id%>"
                    data-url="/api/footprint/<%=id%>/"><%=provenance%></a>
            <% } else { %>
                <%=provenance%>
            <% } %>
        </dd>

        <% if (call_number && call_number.length > 0) { %>
            <dt>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left"
                    title='This field is the bibliographic citation for the evidence. Printed material should be cited as usual. Rare material, such as archival/manuscript evidence or an extent copy should just list the call number.'>
                    <span class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span>
                </a>
                Evidence Source
            </dt>
            <dd class="border-bottom">
                <% if (can_edit_footprint) { %>
                    <a href="javascript:void(0);" class="editable"
                        data-name="call_number"
                        data-type="text" data-pk="<%=id%>"
                        data-url="/api/footprint/<%=id%>/"><%=call_number%></a>
                <% } else { %>
                    <%=call_number%>
                <% } %>
            </dd>
        <% } %>
    </dl>
    
    <% if (can_edit_footprint) { %>
        <!-- FOOTPRINT - DO YOU KNOW -->
        <dl class="dl-horizontal">
            <dt>Do you know...</dt>
            <dd>  
                <ul class="additional-questions">
                    <% if (!place) { %> 
                        <li>
                            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-place do-you-know persistant"
                                data-name="place" data-pk="<%=id%>" data-type="place"
                                data-method="post"
                                data-params="{parent_id:<%=id%>,parent_model:'footprint'}"
                                data-url="/place/add/">the place where the footprint occurred?</a>
                        </li>
                    <% } %>
                    <% if (!associated_date) { %> 
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <a href="javascript:void(0);" class="editable-edtf do-you-know persistant editable-refresh"
                            data-name="date_string" data-type="edtf" data-pk="<%=id%>"
                            data-value="" data-method="post"
                            data-params="{parent_id:<%=id%>,parent_model:'footprint',attr:'associated_date'}"
                            data-url="/date/add/">the date when the footprint occurred?</a>
                        </li>
                    <% } %>
                    <% if (language.length < 1) { %> 
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-language do-you-know persistant"
                                data-name="language" data-method="post"
                                data-type="select2" data-pk="<%=id%>" data-value=""
                                data-params="{parent_id:<%=id%>,parent_model:'footprint'}"
                                data-url="/language/add/">the language(s) of the footprint?</a>
                        </li>
                    <% } %>
                    <li class="fixed"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <a href="javascript:void(0);" class="editable-actor do-you-know persistant"
                            data-name="actor" data-method="post"
                            data-type="actor" data-pk="<%=id%>" data-value=""
                            data-params="{parent_id:<%=id%>,parent_model:'footprint'}" 
                            data-url="/actor/add/">people related to this footprint, e.g. sellers, owners, curators?</a>
                    </li>
                    <% if (!medium_description || medium_description.length < 1) { %> 
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable do-you-know persistant"
                                data-name="medium_description" data-value=""                                         
                                data-type="text" data-pk="<%=id%>"
                                data-url="/api/footprint/<%=id%>/">details about the evidence, e.g. a catalog title?</a>
                        </li>
                    <% } %>
                    <% if (!call_number || call_number.length < 1) { %> 
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="call_number"
                                data-type="text" data-pk="<%=id%>" data-value=""
                                data-url="/api/footprint/<%=id%>/">the source of the evidence, e.g. a call number?</a>
                        </li>
                    <% } %>
                    <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <a href="javascript:void(0);" class="editable-digitalobject do-you-know persistant" data-name="digital_object"
                           data-type="digitalobject" data-pk="<%=id%>" data-value="" data-method="post"
                           data-url="/digitalobject/add/" data-params='{"parent_id":"<%=id%>","parent_model":"footprint"}'>
                            what the evidence looks like? Add some images
                        </a>
                    </li>
                    <% if (!notes || notes.length < 1) { %> 
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="notes"
                               data-type="textarea" data-pk="<%=id%>" data-value=""
                               data-url="/api/footprint/<%=id%>/">any additional notes, clarifications, deductions or oddities?</a>
                        </li>
                    <% } %>                    
                    <% if (!narrative || narrative.length < 1) { %>
                    <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="narrative"
                           data-type="textarea" data-pk="<%=id%>" data-value=""
                           data-url="/api/footprint/<%=id%>/">a one-sentence narrative for this footprint?</a>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </dd>
        </dl>
    <% } %>
</script>