<script type="text/template" id="progress-sidebar-template">
    <ul class="list-group">
        <li class="list-group-item checklist">
            <h4>Record Checklist</h4>
            <div>
                <div class="progress pull-left">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="<%=footprint.percent_complete%>" aria-valuemin="0"
                        aria-valuemax="100" style="width: <%=footprint.percent_complete%>%;">
                    </div>
                </div>
                <div class="progress-report pull-right"><%=footprint.percent_complete%>% complete</div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>

    <% if (editable && work_title.length > 0) { %>
        <div class="sidebar-box related-footprint">
            <h4>Related Footprints</h4>
            <p>Create another footprint for <%= work_title %> based on this footprint.
            Evidence, imprint and book copy information can be copied.</p>
            <div class="pull-right">
                <a data-toggle="modal" data-target="#add-related-footprint" href="javascript:void(0);">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Footprint
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    <% } %>
</script>