<script type="text/template" id="progress-sidebar-template">
    <ul class="list-group">
        <li class="list-group-item checklist">
            <h4>Record Checklist</h4>
            <div>
                <div class="progress pull-left">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="<%=footprint.percent_complete%>" aria-valuemin="0"
                        aria-valuemax="100" style="width: <%=footprint.percent_complete%>%;">
                    </div>
                </div>
                <div class="progress-report pull-right"><%=footprint.percent_complete%>% complete</div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</script>