<script type="text/template" id="connect-record-template">
<% if (editable) { %>
    <% if (!imprint || !imprint.work || !imprint.work.title || imprint.work.title.length < 1) { %>
        <div class="connect-record-container sidebar-box">
            <h4>Can you connect this record?</h4>
            <p>
                This footprint has minimal information about the written work, imprint and physical book copy.<br />
            </p>
            <p>
                Can you relate this footprint to existing records?
            </p>
            <br />
            <form action="/connect/footprint/<%=footprint_id%>/" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="<%=csrf_token%>" />
                <div class="form-group writtenwork">
                    <label>Find Book Title</label>
                    <input type="hidden" name="work" class="select-object work" data-url="/api/writtenwork/" placeholder="Select a book" />
                </div>
                <div class="form-group imprint" style="display: none">
                    <label>Find Imprint</label>
                    <input type="hidden" name="imprint" class="select-object imprint"  data-url="/api/imprint/" placeholder="New Imprint"  />
                </div>
                <div class="form-group" style="display: none">
                    <label>Find Physical Copy</label>
                    <input type="hidden" name="book" class="select-object book"  data-url="/api/book/" placeholder="New Book Copy"  />
                </div>
                <input style="display: none" type="submit" class="save-connection btn btn-default btn-primary pull-right" value="Save" />
                <div class="clearfix"></div>
            </form>
        </div>
    <% } %>
<% } %>    
</script>