        <script type="text/template" id="book-detail-template">

        <div class="physical-copy-detail">
            <div class="breadcrumb">
                The Physical Copy
                <% if (can_edit_copy) { %> 
                    <a href="javascript:void(0);" class="pull-right connect-records book">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Connect
                    </a>
                <% } %>
            </div>
            <dl class="dl-horizontal">
                <dt>Copy Identifier</dt>
                <dd class="border-bottom"><%=imprint.work.id%>-<%=imprint.id%>-<%=id%></dd>

                <% if (call_number && call_number.length > 0) { %>
                    <dt>Call Number</dt>
                    <dd class="border-bottom">
                        <% if (can_edit_copy) { %>
                            <a href="javascript:void(0);" class="editable"
                                data-name="call_number"
                                data-type="text" data-pk="<%=id%>"
                                data-url="/api/book/<%=id%>/"><%=call_number%></a>
                        <% } else { %>
                            <%=call_number%>
                        <% } %>
                    </dd>
                <% } %>

                <% if (current_owners.length) { %>    
                    <dt>Current Owner</dt>    
                    <% for (var i=0; i < current_owners.length; i++) { %>
                        <dd>
                            <% var current_owner = current_owners[i]; %>
                            <% if (current_owner.person.standardized_identifier) { %>
                                <span class="standard-identifier-logo">
                                    <a href="https://viaf.org/viaf/<%=current_owner.person.standardized_identifier.identifier%>/">
                                        <img src="<%=static_url%>img/oclc.png" alt_text="Link to VIAF Record"/>
                                    </a>
                                </span>
                            <% } %>
                            <span>
                                <%=current_owner.person.name%><% if (current_owner.alias) { %>  as <%=current_owner.alias%> <% } %>
                            </span> 
                        </dd>
                    <% } %>
                <% } %>
            </dl>
            <% if (can_edit_copy && (!call_number || call_number.length < 1)) { %>
                <dl class="dl-horizontal">
                    <dt>Do you know...</dt>
                    <dd>
                        <ul class="additional-questions">
                             <li>
                                 <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                 <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="call_number"
                                     data-type="text" data-pk="<%=id%>" data-value=""
                                     data-url="/api/book/<%=id%>/">the call number of the physical copy?</a>
                             </li>
                        </ul>
                    </dd>  
                </dl>
            <% } %>
        </div>

        <div class="written-work-detail">
        <div class="breadcrumb">
        The Literary Work
            <% if (can_edit_work) { %>
                <a href="javascript:void(0);" class="pull-right connect-records imprint">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Connect
                </a>
            <% } %>
        </div>
        <dl class="dl-horizontal">
            <% if (imprint.work.title && imprint.work.title.length > 0) { %>
                <dt>Title</dt>
                <dd class="border-bottom">
                    <% if (can_edit_work) { %>
                        <a href="javascript:void(0);" class="editable-work-title"
                            data-value="<%=imprint.work.title%>"
                            data-name="title" data-model-type="WrittenWork"
                            data-type="title" data-pk="<%=imprint.work.id%>"
                            data-url="/api/writtenwork/<%=imprint.work.id%>/">
                            <%=imprint.work.title%>
                        </a>
                    <% } else { %>
                        <%=imprint.work.title%>
                    <% } %>
                </dd>
            <% } %>
            <% for (var i=0; i < imprint.work.actor.length; i++) { %> 
                <dt><%=imprint.work.actor[i].role.name%></dt>
                <dd class="border-bottom">
                    <% if (imprint.work.actor[i].person.standardized_identifier) { %>
                        <span class="standard-identifier-logo">
                            <a href="https://viaf.org/viaf/<%=imprint.work.actor[i].person.standardized_identifier.identifier%>/">
                                <img src="<%=static_url%>img/oclc.png" alt_text="Link to VIAF Record"/>
                            </a>
                        </span>
                    <% } %>
                    <span>
                        <%=imprint.work.actor[i].person.name%><% if (imprint.work.actor[i].alias) { %>  as <%=imprint.work.actor[i].alias%> <% } %>
                    </span> 
                    <div class="pull-right">
                        <% if (can_edit_work) { %>
                            <a href="javascript:void(0);" class="remove-related"
                             data-params="{attr:'actor',child_id:'<%=imprint.work.actor[i].id%>',parent_id:<%=imprint.work.id%>,parent_model:'writtenwork'}" 
                             data-url="/remove/related/"
                             title="remove author">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        <% } %>
                    </div>
                </dd>
            <% } %>
            <% for (var i=0; i < imprint.work.standardized_identifier.length; i++) { %> 
                <dt><%=imprint.work.standardized_identifier[i].authority%></dt>
                <dd class="border-bottom">
                    <div class="pull-left standard-identifier-logo">
                        <a href="http://lccn.loc.gov/<%=imprint.work.standardized_identifier[i].identifier.replace(/\s+/g, '')%>">
                            <img src="<%=static_url%>img/loc.png" alt_text="Link to the Library of Congress" />
                        </a>
                    </div>
                    <% if (can_edit_work) { %>
                        <a href="javascript:void(0);" class="editable-work-identifier"
                            data-type="identifier" data-pk="<%=imprint.work.standardized_identifier[i].id%>"
                            data-url="/api/identifier/<%=imprint.work.standardized_identifier[i].id%>/"
                            data-value="{identifier:'<%=imprint.work.standardized_identifier[i].identifier%>',identifier_type:'<%=imprint.work.standardized_identifier[i].identifier_type%>'}">
                            <%=imprint.work.standardized_identifier[i].identifier%>
                        </a>
                        <div class="pull-right">
                            <a href="javascript:void(0);" class="remove-related"
                             data-params="{attr:'standardized_identifier',child_id:'<%=imprint.work.standardized_identifier[i].id%>',parent_id:<%=imprint.work.id%>,parent_model:'writtenwork'}" 
                             data-url="/remove/related/"
                             title="remove identifier">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </div>
                    <% } else { %>
                        <%=imprint.work.standardized_identifier[i].identifier%>
                    <% } %>
                </dd>
            <% } %>
        </dl>
        <% if (can_edit_work) { %>
            <dl class="dl-horizontal">
                <dt>Do you know...</dt>
                <dd>  
                    <ul class="additional-questions">
                        <% if (!imprint.work.title || imprint.work.title.length < 1) { %>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable-work-title do-you-know persistant"
                                    data-model-type="WrittenWork"
                                    data-name="title" data-type="title" data-pk="<%=imprint.work.id%>" data-value=""
                                    data-url="/api/writtenwork/<%=imprint.work.id%>/">the standardized English title of the literary work?</a>
                            </li>
                        <% } %>
                        <li class="fixed"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-author do-you-know persistant" data-name="actor"
                                data-type="actor" data-pk="<%=imprint.work.id%>" data-value="" data-method="post"
                                data-params="{parent_id:<%=imprint.work.id%>,parent_model:'writtenwork'}" 
                                data-url="/actor/add/">the author(s) of the literary work?</a>
                        </li>
                        <% if (imprint.work.standardized_identifier.length === 0) { %>
                            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable-work-identifier do-you-know"
                                    data-value="" data-type="identifier" data-pk="<%=imprint.work.id%>" data-method="post"
                                    data-params="{parent_id:<%=imprint.work.id%>,parent_model:'writtenwork'}"
                                    data-url="/identifier/add/">the Library of Congress identifier associated with the literary work?</a>
                            </li>
                        <% } %>
                   </ul>
                </dd>
            </dl>
        <% } %>
        
        <div class="breadcrumb">
            The Imprint
            <% if (can_edit_imprint) { %> 
                <a href="javascript:void(0);" class="pull-right connect-records imprint">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Connect
                </a>
            <% } %>
        </div>
        <dl class="dl-horizontal">
            <% if (imprint.title && imprint.title.length > 0) { %>
                <dt>Imprint Title</dt>
                <dd class="border-bottom">
                    <% if (can_edit_imprint) { %>
                        <a href="javascript:void(0);" class="editable-imprint-title"
                         data-value="<%=imprint.title%>"
                         data-name="title" data-model-type="Imprint"
                         data-type="title" data-pk="<%=imprint.id%>"
                         data-url="/api/imprint/<%=imprint.id%>/">
                            <%=imprint.title%>
                        </a>
                    <% } else { %>
                        <%=imprint.title%>
                    <% } %>
                </dd>
            <% } %>
            <% if (imprint.language.length > 0) { %>
                <dt>Imprint Language</dt>
                <dd class="border-bottom">
                    <% if (can_edit_imprint) { %>
                        <a href="javascript:void(0);" class="editable-language"
                            data-name="language" data-method="post"
                            data-type="select2" data-pk="<%=imprint.id%>"
                            data-value="[<% for (var i=0; i < imprint.language.length; i++) { %><%=imprint.language[i].id%><% if (i < imprint.language.length-1) { %> ,<% } }%>]"
                            data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint'}"
                            data-url="/language/add/">
                    <% } %>
                    <% for (var i=0; i < imprint.language.length; i++) { %> 
                        <%= imprint.language[i].name %><% if (i < imprint.language.length-1) { %> , <% } %>
                    <% } %>
                    <% if (can_edit_imprint) { %>
                        </a>
                    <% } %>
                </dd>
            <% } %>
            <% if (imprint.publication_date) { %>
                <dt>Publication Date</dt>
                <dd class="border-bottom">
                    <%=imprint.publication_date.display%>
                    <% if (can_edit_imprint) { %>
                        <div class="pull-right">
                        <a href="javascript:void(0);" class="remove-related"
                            data-params="{attr:'publication_date',child_id:'<%=imprint.publication_date.id%>',parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                            data-url="/remove/related/"
                            title="remove date">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        </div>
                    <% } %>
                </dd>
            <% } %>
            <% if (imprint.place) { %>
                <dt>Imprint Location</dt>
                <dd class="border-bottom footprint-place">
                    <span><%=imprint.place.display_title%></span>
                    <div class="pull-right">
                        <% if (can_edit_imprint) { %>
                            <a href="javascript:void(0);" class="remove-related"
                                data-params="{attr:'place',child_id:'<%=imprint.place.id%>',parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                                data-url="/remove/related/"
                                title="remove place">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        <% } %>
                    </div>
                    <div class="clearfix"></div>
                    <div class="footprint-map"
                        data-latitude="<%=imprint.place.latitude%>"
                        data-longitude="<%=imprint.place.longitude%>"
                        data-title="<%=imprint.place.display_title%>">
                    </div>
                </dd>
            <% } %>
            <% for (var i=0; i < imprint.actor.length; i++) { %> 
                <dt><%=imprint.actor[i].role.name%></dt>
                <dd class="border-bottom">
                    <% if (imprint.actor[i].person.standardized_identifier) { %>
                        <span class="standard-identifier-logo">
                            <a href="https://viaf.org/viaf/<%=imprint.actor[i].person.standardized_identifier.identifier%>/">
                                <img src="<%=static_url%>img/oclc.png" alt_text="Link to VIAF Record"/>
                            </a>
                        </span>
                    <% } %>
                    <span>
                        <%=imprint.actor[i].person.name%><% if (imprint.actor[i].alias) { %>  as <%=imprint.actor[i].alias%> <% } %>
                    </span> 
                    <div class="pull-right">
                        <% if (can_edit_imprint) { %>
                            <a href="javascript:void(0);" class="remove-related"
                             data-params="{attr:'actor',child_id:'<%=imprint.actor[i].id%>',parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                             data-url="/remove/related/"
                             title="remove author">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        <% } %>
                    </div>
                </dd>
            <% } %>
            <% for (var i=0; i < imprint.standardized_identifier.length; i++) { %> 
                <dt><%=imprint.standardized_identifier[i].authority%></dt>
                <dd class="border-bottom">
                    <% if (imprint.standardized_identifier[i].authority === 'WorldCat (OCLC)') { %>
                        <div class="pull-left standard-identifier-logo">
                            <a target="_blank" rel="noopener noreferrer" href="http://www.worldcat.org/oclc/<%=imprint.standardized_identifier[i].identifier%>">
                                <img src="<%=static_url%>img/worldcat.png" alt_text="Link to WorldCAT record" />
                            </a>
                        </div>
                    <% } else if (imprint.standardized_identifier[i].authority === 'Bibliography of the Hebrew Book') { %>
                        <div class="pull-left standard-identifier-logo">
                            <a target="_blank" rel="noopener noreferrer" href="https://merhav.nli.org.il/primo-explore/fulldisplay?docid=NNL_MBI<%=imprint.standardized_identifier[i].identifier%>&context=L&vid=MBI&lang=iw_IL&search_scope=scope_MBI">
                            <img src="<%=static_url%>img/bhb.png" alt_text="Link to Bibliography of the Hebrew Book" />
                            </a>
                        </div>
                    <% } %>
                    <% if (can_edit_imprint) { %>
                        <a href="javascript:void(0);" class="editable-imprint-identifier"
                            data-type="identifier" data-pk="<%=imprint.standardized_identifier[i].id%>"
                            data-url="/api/identifier/<%=imprint.standardized_identifier[i].id%>/"
                            data-value="{identifier:'<%=imprint.standardized_identifier[i].identifier%>',identifier_type:'<%=imprint.standardized_identifier[i].identifier_type%>'}">
                            <%=imprint.standardized_identifier[i].identifier%>
                        </a>
                        <div class="pull-right">
                            <a href="javascript:void(0);" class="remove-related"
                             data-params="{attr:'standardized_identifier',child_id:'<%=imprint.standardized_identifier[i].id%>',parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                             data-url="/remove/related/"
                             title="remove identifier">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </div>
                    <% } else { %>
                        <%=imprint.standardized_identifier[i].identifier%>
                    <% } %>
                </dd>
            <% } %>
            <% if (imprint.notes && imprint.notes.length > 0) { %>
                <dt>Imprint Notes</dt>
                <dd class="border-bottom">
                    <% if (can_edit_imprint) { %>
                        <a href="javascript:void(0);" class="editable"
                            data-name="notes"
                            data-type="textarea" data-pk="<%=imprint.id%>"
                            data-url="/api/imprint/<%=imprint.id%>/"><%=imprint.notes%></a>
                    <% } else { %>
                        <%=imprint.notes%>
                    <% } %>
                </dd>
            <% } %>
            
        </dl>
        
        <% if (can_edit_imprint) { %>
            <dl class="dl-horizontal">
                <dt>Do you know...</dt>
                <dd>  
                    <ul class="additional-questions">
                        <% if (imprint.work.notes && imprint.work.notes.length < 1) { %>
                            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="notes"
                                    data-type="textarea" data-pk="<%=imprint.work.id%>" data-value=""
                                    data-url="/api/writtenwork/<%=imprint.work.id%>/">any additional notes about the written work?</a>
                            </li>
                        <% } %>
        
                        <% if (!imprint.title || imprint.title.length < 1) { %>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable-imprint-title do-you-know persistant"
                                    data-model-type="Imprint"
                                    data-name="title" data-type="title" data-pk="<%=imprint.id%>" data-value=""
                                    data-url="/api/imprint/<%=imprint.id%>/">the title of the imprint?</a>
                            </li>
                        <% } %>
                        
                        <% if (imprint.language.length < 1) { %> 
                            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable-language do-you-know persistant"
                                    data-name="language" data-method="post"
                                    data-type="select2" data-pk="<%=imprint.id%>" data-value=""
                                    data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                                data-url="/language/add/">the language of the imprint?</a>
                            </li>
                        <% } %>
                        <% if (!imprint.publication_date) { %> 
                            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-edtf do-you-know persistant editable-refresh"
                                data-name="date_string" data-type="edtf" data-pk="<%=imprint.id%>"
                                data-value="" data-method="post"
                                data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint',attr:'publication_date'}"
                                data-url="/date/add/">the imprint publication date?</a>
                            </li>
                        <% } %>
                        
                        <% if (!imprint.place) { %> 
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable-place do-you-know persistant"
                                    data-name="place" data-pk="<%=imprint.id%>" data-type="place" data-method="post"
                                    data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint'}"
                                    data-url="/place/add/">the imprint publication location?</a>
                            </li>
                        <% } %>
        
                        <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-imprint-identifier do-you-know persistant editable-refresh"
                                data-value="" data-type="identifier" data-pk="<%=imprint.id%>" data-method="post"
                                data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint'}"
                                data-url="/identifier/add/">a standardized identifier associated with the imprint?</a>
                        </li>
                        
                        <li class="fixed"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            <a href="javascript:void(0);" class="editable-publisher do-you-know persistant" data-name="actor"
                                data-type="actor" data-pk="<%=imprint.id%>" data-value="" data-method="post"
                                data-params="{parent_id:<%=imprint.id%>,parent_model:'imprint'}" 
                                data-url="/actor/add/">people associated with the imprint, e.g. printer, publisher, editor?</a>
                        </li>
                        
                        <% if (!imprint.notes || imprint.notes.length < 1) { %>
                            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <a href="javascript:void(0);" class="editable do-you-know persistant" data-name="notes"
                                    data-type="textarea" data-pk="<%=imprint.id%>" data-value=""
                                    data-url="/api/imprint/<%=imprint.id%>/">any additional notes about the imprint?</a>
                            </li>
                        <% } %>
                    </ul>
                </dd>
            </dl>
        <% } %>
    </div>
</script>
