{% verbatim %}
<script type="text/x-template" id="layer-template">
    <div class="pane-content" id="create-layer-init">
        <header class="d-flex flex-row">
            <h1><i class="fas fa-layer-group mr-2" aria-hidden="true"></i>
                <span v-if="layer.id">Edit Layer</span>
                <span v-else>New layer</span>
            </h1>
            <label for="layerTitle" class="sr-only">New layer title</label>
            <input type="text" class="form-control criteria-form-field" id="layerTitle" v-model="layer.title">
        </header>
        <div class="pane-content-container" id="style-3">
            <section aria-labelledby="region1">
                <h2 id="region1" class="sr-only">Contextual description of this layer's criteria set</h2>
                {{displayCriteria}}
                <div v-if="total !== null">Book Copies: {{total}}</div>
            </section><!-- /contextual description -->

            <section aria-labelledby="region2">
                <h2 id="region2" class="sr-only">Literary work and imprint criteria</h2>
                <div class="form-group row">
                    <label for="criteriaLiteraryWork" class="col-4 col-form-label">Literary work:</label>
                    <div class="col-8">
                        <select-widget v-model="layer.work" id="criteriaLiteraryWork" 
                            :criteria="layer" data-url="api/writtenwork/"
                            v-bind:minimum-input="0">
                        </select-widget>
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <label for="criteriaImprint" class="col-4 col-form-label">Imprint:</label>
                    <div class="col-8">
                        <select-widget v-model="layer.imprint" id="criteriaImprint"
                            :disabled="!layer.work" v-bind:minimum-input="0"
                            :criteria="layer" data-url="api/imprint/">
                        </select-widget>
                    </div>
                </div>
            </section><!-- /Literary work and imprint criteria -->

            <section aria-labelledby="region3">
                <h2 id="region3">Location</h2>
                <div class="form-group row">
                    <label for="criteriaImprintLoc" class="col-4 col-form-label">Imprint:</label>
                    <div class="col-8">
                        <select-widget v-model="layer.imprintLocation" id="criteriaImprintLoc"
                            name="imprint-location" :criteria="layer" v-bind:minimum-input="0"
                            data-url="api/place/" search-for="imprint">
                        </select-widget>
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <label for="criteriaFootprintLoc" class="col-4 col-form-label">Footprint:</label>
                    <div class="col-8">
                        <select-widget v-model="layer.footprintLocation" id="criteriaFootprintLoc"
                            name="footprint-location" :criteria="layer" v-bind:minimum-input="0"
                            data-url="api/place/" search-for="footprint">
                        </select-widget>
                        <div class="form-check mt-1">
                            <input v-model="layer.footprintLocationFinal" class="form-check-input"
                                type="checkbox" value="" id="footprintLocFinal">
                            <label class="form-check-label" for="footprintLocFinal">
                                as final footprint
                            </label>
                        </div>
                    </div>
                </div>
            </section><!-- /#criteria-locations -->

            <section aria-labelledby="region4">
                <h2 id="region4">Years</h2>

                <div class="form-group row mb-1">
                    <div class="col-8 d-flex offset-4"><small>{{displayPubMinMax()}}</small></div>
                </div>
                <div class="form-group row mb-1">
                    <label for="criteriaPubYearBegin" class="col-4 col-form-label">Publication:</label>
                    <div class="col-8 d-flex">
                        <input v-model="layer.pubStart" type="text" class="form-control"
                            id="criteriaPubYearBegin">
                        <button type="button" v-on:click="togglePubRange"
                            :class="['btn', 'btn-outline-secondary', 'criteria-range', {'range-on': layer.pubRange}]">
                            <span v-if="layer.pubRange">to</span><span v-else>add range</span>
                        </button>
                        <input v-if="layer.pubRange" v-model="layer.pubEnd" type="text" class="form-control"
                            id="criteriaPubYearEnd">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-8 d-flex offset-4"><small>{{displayPubYearStatus()}}</small></div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-8 d-flex offset-4"><small>{{displayFootprintMinMax()}}</small></div>
                </div>
                <div class="form-group mb-1 row">
                    <label for="criteriaFootprintYearBegin" class="col-4 col-form-label">Footprint:</label>
                    <div class="col-8 d-flex">
                        <input v-model="layer.footprintStart" type="text" class="form-control"
                            id="criteriaFootprintYearBegin">
                        <button type="button" v-on:click="toggleFootprintRange"
                            :class="['btn', 'btn-outline-secondary', 'criteria-range', {'range-on': layer.footprintRange}]">
                            <span v-if="layer.footprintRange">to</span><span v-else>add range</span>
                        </button>
                        <input v-if="layer.footprintRange" v-model="layer.footprintEnd" type="text" class="form-control"
                            id="criteriaFootprintYearEnd">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 d-flex offset-4"><small>{{displayFootprintYearStatus()}}</small></div>
                </div>

            </section><!-- /#criteria-years -->

            <section aria-labelledby="region5">
                <h2 id="region5" class="sr-only">Person</h2>
                <div class="form-group mb-0 row">
                    <label for="criteriaPerson" class="col-4 col-form-label">Person:</label>
                    <div class="col-8">
                        <select-widget v-model="layer.person" id="criteriaPerson"
                            :criteria="layer" data-url="api/person/">
                        </select-widget>
                    </div>
                </div>
            </section><!-- /#criteria-person -->

            <section aria-labelledby="region6">
                <h2 id="region6">Censored</h2>
                    <div class="form-group md-radio mb-0 col-10 offset-1" aria-labelledby="region6" role="radiogroup">
                        <input v-model="layer.censored" name="criteriaCensored" id="criteriaCensoredNotApp" type="radio" value="notapp" checked>
                        <label for="criteriaCensoredNotApp">Not applicable</label>
                        <input v-model="layer.censored" name="criteriaCensored" id="criteriaCensoredYes" type="radio" value="yes">
                        <label for="criteriaCensoredYes">Yes</label>
                        <input v-model="layer.censored" name="criteriaCensored" id="criteriaCensoredNo" type="radio" value="no">
                        <label for="criteriaCensoredNo">No</label>
                    </div>
            </section><!-- /#criteria-censored -->

            <section aria-labelledby="region7">
                <h2 id="region7">Expurgated</h2>
                    <div class="form-group md-radio mb-0 col-10 offset-1" aria-labelledby="region7" role="radiogroup">
                        <input v-model="layer.expurgated" name="criteriaExpurgated" id="criteriaExpurgatedNotApp" type="radio" value="notapp" checked>
                        <label for="criteriaExpurgatedNotApp">Not applicable</label>
                        <input v-model="layer.expurgated" name="criteriaExpurgated" id="criteriaExpurgatedYes" type="radio" value="yes">
                        <label for="criteriaExpurgatedYes">Yes</label>
                        <input v-model="layer.expurgated" name="criteriaExpurgated" id="criteriaExpurgatedNo" type="radio" value="no">
                        <label for="criteriaExpurgatedNo">No</label>
                    </div>
            </section><!-- /#criteria-Expurgated -->

            <div class="layer-actions">
                <button v-on:click="cancel" type="button" class="btn btn-priority-low">Cancel</button>
                <button v-on:click="save" type="button" class="btn btn-priority-mid">Create layer</button>
            </div><!-- /.layer actions -->

        </div><!-- /.pane-content-container -->
    </div><!-- /#create-layer-init pane -->
</script>
{% endverbatim %}