{% verbatim %}
<script type="text/x-template" id="layer-list-template">
    <div class="widget-pane widget-pane-expanded" id="container-pane">
        <div class="widget-pane-content">
            <!-- Point of Interest Panel (LocationVue) -->
            <pathmapper-location v-model="selectedLocation"
                v-on:clearlocation="clearLocation"
                :class="[{'d-none': !selectedLocation}]"/>

            <!-- Initial Create Layer pane -->
            <form id="create-layer-form" class="criteria-set-pane" :class="[{'d-none': selectedLocation}]"><!-- Begin form -->
                <!-- Layer Create / Edit form -->
                <layer-form v-if="selectedLayer" v-model="selectedLayer"
                    @save="saveLayer" @cancel="cancelLayer" 
                />

                <!-- Begin #layer-list pane -->
                <div v-if="!selectedLayer" class="pane-content" id="layer-list-pane">
                    <header class="d-flex flex-row">
                        <h1><i class="fas fa-layer-group mr-2" aria-hidden="true"></i>
                        Layer list ({{layers.length}})</h1>
                        <button v-on:click="createLayer" type="button" class="btn btn-priority-hi">Create layer</button>
                    </header>
                    <div class="pane-content-container" id="style-3">
                        <section v-if="layers.length === 0">
                            <h2 class="mb-3">You have not created any Pathmapper layers.</h2>
                            <p>
                            A layer is a set of book copies that meet the search criteria you selected.
                            You can begin by creating one.
                            </p>
                            <button v-on:click="createLayer" type="button" class="btn btn-priority-hi">Create layer</button>
                        </section>
                        <section v-for="(layer, idx) in layers" :aria-labelledby="'layer-' + idx" class="d-flex">
                            <div class="d-flex flex-column">
                            <h2 :id="'layer-' + idx">{{layer.title}}</h2>
                            <p class="criteria-context-display mr-4">{{layer.totalCopies}} book copies {{layer.narrative}}.</p>
                            </div>
                            <ul class="indiv-layer-actions d-flex">
                                <li><button :data-idx="idx" v-on:click="editLayer" type="button" class="btn btn-layer-action"><i class="fas fa-pencil-alt"></i></button></li>
                                <li>
                                    <button :data-idx="idx" v-on:click.stop.prevent="toggleLayer(idx)"
                                        type="button" class="btn btn-layer-action"
                                       :class="['btn', 'btn-layer-action', {'btn-layer-off': !layer.visible}]">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </li>
                                <li><button :data-idx="idx" v-on:click="deleteLayer" type="button" class="btn btn-layer-action"><i class="fas fa-trash-alt"></i></button></li>
                            </ul>
                        </section>
                        
                        <button type="button" class="btn btn-timeline" id="timeline-launch" v-if="layers.length > 0" v-on:click="toggleTimeline">View Timeline</button>
                        
                    </div><!-- /.pane-content-container -->
                </div><!-- /End #layer-list pane -->
            </form><!-- Closing the form -->
        </div><!-- /.widget-pane-content -->

        <div class="widget-pane-toggle">
            <button accesskey="," v-on:click="togglePane"
                type="button"
                id="btn-pane-toggle"
                class="btn"
                aria-label="Collapse layers panel">
                    <i class="fas fa-times" aria-hidden="true"></i>
                    <i class="fas fa-layer-group"></i>
                    <span class="txt-pane-toggle" id="txt-hide">Hide pane</span>
                    <span class="txt-pane-toggle" id="txt-display">Display pane</span>
                </button>
        </div><!-- /.widget-pane-toggle -->
    </div><!-- /.widget-pane -->
</script>
{% endverbatim %}