{% verbatim %}
<script type="text/x-template" id="pathmapper-table-template">
<div>
    <div class="table-pathmapper-count">
        <div class="float-right mb-1">{{total}} footprints</div>
    </div>
    <table class="table-pathmapper">
        <thead>
            <tr>
                <th>Literary Work</th>
                <th>Imprint</th>
                <th>Book Copy</th>
                <th class="footprint-title">Footprint Title</th>
                <th>Footprint Date</th>
                <th>Footprint Location</th>
                <th>Expurgated</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, index) in rows" :key="index">
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        :href="'/writtenwork/' + row.work_id + '/'"
                        :title="row.work_title">
                        {{row.work_title}}
                    </a>
                </td>
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        :href="'/writtenwork/' + row.work_id + '/' + row.imprint_id + '/'"
                        :title="row.imprint_title">
                        {{row.imprint_title}}
                    </a><br />

                    <div v-if="row.pub_date">{{row.pub_date}}</div>
                    <div v-if="row.pub_location">
                        <span v-for="loc in parseArray(row.pub_location)">
                            {{loc}}
                        </span>
                    </div>
                    <div v-if="row.censored == 'True'">Censored</div>
                </td>
                <td>{{row.book_copy_identifier}}</td>
                <td>
                    <a :href="'/footprint/' + row.footprint_id + '/'"
                        :title="'Link to footprint ' + row.footprint_title">
                        {{row.footprint_title}}
                    </a>
                </td>
                <td>
                    <span v-if="row.footprint_date">
                        {{row.footprint_date}}
                    </span>
                </td>
                <td>
                    <span v-if="row.footprint_location">
                        <span v-for="loc in parseArray(row.footprint_location)">
                            {{loc}}
                        </span>
                    </span>
                </td>
                <td>
                    <span v-if="row.expurgated == 'True'">Expurgated</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div v-if="totalPages > 1" class="row tools">
        <div class="col-md-12">
        <div class="float-right mr-2">
            <a class="btn btn-default btn-paginate mx-1" :disabled="!hasNext()"
                :href="url(page.nextPage)"
                :data-page-number="page.nextPage"
                v-on:click.stop.prevent="changePage(page.nextPage)">
                Next <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default btn-paginate mx-1" :disabled="!hasNext()"
                :href="url(totalPages)"
                :data-page-number="totalPages"
                v-on:click.stop.prevent="changePage(totalPages)">
                 Last <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
            </a>
        </div>
        <div class="float-right page-count mx-2">
            Page <input class="form-control page-number" type="text"
                    :value="page.number"> of <span class="max-page">{{totalPages}}</span>
            <p class="error-block small">
                Invalid page number
            </p>
        </div>
        <div class="float-right">
            <a class="btn btn-default btn-paginate mx-1" :disabled="!hasPrev()"
                data-page-number="1" :href="url(1)"
                v-on:click.stop.prevent="changePage(1)">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> First
            </a>
            <a class="btn btn-default btn-paginate mx-1" :disabled="!hasPrev()"
               :data-page-number="page.prevPage" :href="url(page.prevPage)"
                v-on:click.stop.prevent="changePage(page.prevPage)">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Previous
            </a>
        </div>
        </div>
    </div>
</div>
</script>
{% endverbatim %}