{% verbatim %}
<script type="text/x-template" id="pathmapper-timeline-template">
<div id="widget-timeline" class="timeline-collapsed">
    <button type="button" class="btn widget-timeline-close" aria-label="Close" v-on:click="closeTimeline">
        <i class="fas fa-times" aria-hidden="true"></i>
    </button>
    <div class="row mt-4">
        <!--
        <div class="col-1">
            <div class="control-button-wrap">
                <button class="btn-play-timeline" name="play" v-on:click="playTimeline"></button>
            </div>
        </div>
        -->
        <div class="col">
            <div id="heatmap"></div>
        </div>
    </div>
</div>
</script>
{% endverbatim %}
