{% verbatim %}
<script type="text/x-template" id="pathmapper-location-template">
    <div class="pane-content">
        <header class="d-flex flex-row">
            <h1><i class="fas fa-map-marker-alt mr-2" aria-hidden="true"></i>
                Location
            </h1>
            <a class="btn btn-priority-hi btn-close-pane"
            href="#" title="Close the location view" v-on:click="clearLocation">Back to layers</a>
        </header>
        <div class="pane-content-container p-2" id="style-3" v-if="value">
            <h2 class="location-title">
                {{value.title}}
            </h2>
            <div class="location-summary">
                <p>
                    {{copyCount}} book {{pluralizeTerm}} passed through {{value.title}}. It is:
                </p>
                <ul>
                    <li v-if="initial > 0">an imprint location for {{initial}} book copies</li>
                    <li v-if="interim > 0">an interim location for {{interim}} footprint<span v-if="interim > 1">s</span></li>
                    <li v-if="terminal > 0">a final location to {{terminal}}</li>
                </ul>
            </div>
            <section class="location-card" v-for="(value, name) in copies">
                <h3>
                    Book copy:
                    <a :href="copyUrl(name, value)" target="_blank" rel="noopener noreferrer">
                        {{name}}
                    </a>
                </h3>
                <ul class="list-group" v-for="item in value">
                    <li class="list-group-item">
                        <div>Location type: <span class="text-capitalize">{{item.type}}</span></div>
                        <div v-if="item.footprint && item.footprint.narrative">
                            {{item.footprint.narrative}}
                        </div>
                        <div v-if="item.footprint && !item.footprint.narrative">
                            <div>
                                <span v-if="item.footprint.display_date">
                                    {{item.footprint.display_date}}<span v-if="item.footprint.place">,</span>
                                </span>
                                <span v-if="item.footprint.place">
                                    {{item.footprint.place.display_title}}
                                </span>
                                <span>as {{item.footprint.title}}</span>.
                            </div>
                            <div>
                                <span v-if="item.footprint.owners">
                                    Owned by {{item.footprint.owners}}.
                                </span>
                            </div>
                        </div>
                        <div v-if="!item.footprint">
                            In {{item.bookcopy.imprint.display_date}}, a copy of the
                            <a :href="workUrl(item)" target="_blank" rel="noopener noreferrer">
                                {{item.bookcopy.imprint.work_title}}</a> was published
                            <span v-if="item.bookcopy.imprint.work_title !== item.bookcopy.imprint.title">
                                as <a :href="imprintUrl(item)"
                                target="_blank" rel="noopener noreferrer">
                                    {{item.bookcopy.imprint.title}}</a>
                            </span>
                            <span v-if="item.bookcopy.imprint.place">in {{item.bookcopy.imprint.place.display_title}}</span>.
                        </div>
                    </li>
                </ul>
            </section>
            <small v-if="value">
                 [Place Id: {{value.id}}] [{{value.latlng}}]
            </small>
        </div><!-- /.pane-content-container -->
    </div>
</script>
{% endverbatim %}
