{% verbatim %}
<script type="text/x-template" id="search-template">
    <div class="widget-pane widget-pane-expanded" id="container-pane">
        <div class="widget-pane-content">
            <!-- Initial Create Layer pane -->
            <form class="criteria-set-pane">
            <div class="pane-content" id="create-layer-init">
                <header class="d-flex flex-row">
                    <h1><i class="fas fa-layer-group mr-5" aria-hidden="true"></i>
                    New Layer</h1>
                    <label for="layerTitle" class="layer-title">New layer <span class="sr-only">title</span></label>
                    <input type="text" class="form-control criteria-form-field" id="layerTitle">
                </header>
                <div class="pane-content-container" id="style-3">

                    <section aria-labelledby="region1">
                        <h2 id="region1" class="sr-only">Contextual description of this layer's criteria set</h2>
                    </section><!-- /contextual description -->

                    <section aria-labelledby="region2">
                        <h2 id="region2" class="sr-only">Literary work and imprint criteria</h2>
                        <div class="form-group row">
                            <label for="criteriaLiteraryWork" class="col-4 col-form-label">Literary work:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="criteriaLiteraryWork" placeholder="placehoder text">
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <label for="criteriaImprint" class="col-4 col-form-label">Imprint:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="criteriaImprint" placeholder="placehoder text">
                            </div>
                        </div>
                    </section><!-- /Literary work and imprint criteria -->

                    <section aria-labelledby="region3">
                        <h2 id="region3">Location</h2>
                        <div class="form-group row">
                            <label for="criteriaImprintLoc" class="col-4 col-form-label">Imprint:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="criteriaImprintLoc" placeholder="placehoder text">
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <label for="criteriaFootprintLoc" class="col-4 col-form-label">Footprint:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="criteriaFootprintLoc" placeholder="placehoder text">
                                    <div class="form-check mt-1">
                                        <input class="form-check-input" type="checkbox" value="" id="footprintLocFinal">
                                        <label class="form-check-label" for="footprintLocFinal">
                                        as final footprint
                                        </label>
                                </div>
                            </div>
                        </div>
                    </section><!-- /#criteria-loctaions -->

                    <section aria-labelledby="region4">
                        <h2 id="region4">Years</h2>
                    </section><!-- /#criteria-years -->

                    <section aria-labelledby="region5">
                        <h2 id="region5" class="sr-only">Person</h2>
                        <div class="form-group mb-0 row">
                            <label for="criteriaPerson" class="col-4 col-form-label">Person:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="criteriaPerson" placeholder="placehoder text">
                            </div>
                        </div>
                    </section><!-- /#criteria-person -->

                    <section aria-labelledby="region6">
                        <h2 id="region6">Censorship and expurgation</h2>
                    </section><!-- /#criteria-lwi -->
<p>
Morbi commodo, tortor nec aliquam ultrices, ipsum ex pretium lorem, non consequat magna dui id eros. Aliquam erat volutpat. Sed id nibh nec tellus posuere rutrum. Maecenas ac risus vel lectus scelerisque efficitur non eget magna. Sed sodales risus in aliquet rhoncus. Nam eget tincidunt nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus risus nec dictum viverra. In gravida suscipit mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>
<p>
Mauris sed cursus lacus, vel ornare lorem. Vivamus tincidunt id lacus eu ultricies. Curabitur nec nibh tempus, eleifend mi id, dignissim massa. Aenean sagittis id erat a commodo. Phasellus tempus tortor et lectus imperdiet, a condimentum elit dictum. Praesent nec hendrerit elit, eget luctus eros. Vivamus dapibus tristique sodales. Sed dignissim, libero eu consectetur tincidunt, erat libero placerat justo, a rhoncus enim mauris at metus. Aliquam orci arcu, aliquam id augue in, posuere porta lectus.
</p>
               </div>
            </div><!-- /#create-layer-init -->
            </form>
        </div><!-- /.widget-pane-content -->

<!-- 
        <div class="widget-pane-content" v-if="criteria">
                <div v-if="total">
                Book Copies: {{total}}
            </div>
            <form>
                <select v-model="criteria.work">
                    <option>~~~~-</option>
                    <option value="67">Akedet</option>
                </select>
                <button>Add Layer</button>
            </form>
            </div><!~~ /.widget-pane-content ~~>
 -->
        <div class="widget-pane-toggle">
            <button v-on:click="togglePane"
                type="button"
                id="btn-pane-toggle"
                class="btn"
                aria-label="Collapse layers panel">
                    <i class="fas fa-times" aria-hidden="true"></i>
                    <i class="fas fa-layer-group"></i>
                </button>
        </div><!-- /.widget-pane-toggle -->
    </div><!-- /.widget-pane -->
</script>
{% endverbatim %}