{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:title" content="Footprints: {{ flatpage.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{% spaceless %}{{ request.scheme }}://{{ request.get_host }}{{STATIC_URL}}img/footprints_opengraph.jpg{% endspaceless %}" />
    <meta property="og:image:alt" content="Footprints: Jewish Books Through Time and Place logo">
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:description" content="{{ flatpage.title }}" />
    <meta property="og:site_name" content="Footprints" />
{% endblock %}

{% block twittercard %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Footprints_Heb" />
    <meta name="twitter:title" content="Footprints: {{ flatpage.title }}" />
    <meta name="twitter:description" content="{{ flatpage.title }}" />
    <meta name="twitter:image" content="{% spaceless %}{{ request.scheme }}://{{ request.get_host }}{{STATIC_URL}}img/footprints_opengraph.jpg{% endspaceless %}" />
    <meta name="twitter:image:alt" content="Footprints: Jewish Books Through Time and Place logo" />
{% endblock %}


{% block content %}

<div class="flatpage_contain">

{{flatpage.content|safe}}

</div>


{% endblock %}
