<div class="modal" id="book-connection-modal" taxindex="-1" role="dialog" aria-labelledby="Book Copy" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Book Copy Connect</h4>
            </div>
            <div class="modal-body">
                <p>
                This footprint is currently connected to: 
                Book Copy Identifier: {{footprint.book_copy.imprint.work.id}}-{{footprint.book_copy.imprint.id}}-{{footprint.book_copy.id}}
                Last Recorded Owner: {{footprint.book_copy.last_owner}}<br />
                Imprint Title: {{footprint.book_copy.imprint.title}}
                Imprint Date: {{footprint.book_copy.imprint.date_of_publication}}
                Imprint Location: {{footprint.book_copy.imprint.place.display_title%>
                </p>
                <p>Connect to an existing book copy, or choose to create a new copy</p>
                <br />
                <form action="/connect/footprint/{{footprint.id}}/book/" method="post">
                    {% csrf_token %}
                    <div class="form-group" style="display: none">
                        <label></label>
                        <input type="hidden" name="book" class="select-object book"  data-url="/api/book/" placeholder="New Book Copy"  />
                    </div>
                    <input style="display: none" type="submit" class="save-connection btn btn-default btn-primary pull-right" value="Save" />
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>