{% with imprint=footprint.book_copy.imprint %}
{% if footprint.associated_date %}
<div><strong>Footprint Date</strong>&nbsp;
<span>{{footprint.associated_date}}</span></div>
{% endif %}

<div><strong>Footprint Place</strong>&nbsp;
<span>{{footprint.place}}</span></div>
 
{% with owners=footprint.owners %}
{% if owners|length > 0 %}
    <div><strong>Owner{% if owners|length > 1 %}s{% endif %}</strong>&nbsp;<span>
    {% for owner in owners %}
        {{owner.display_name}}
        {% if not forloop.last %},{% endif %}
    {% endfor %}
    </span></div>
{% endif %}    
{% endwith %}

<br />

{% if imprint.display_title %}
    <div>
        <strong>Imprint</strong>&nbsp;
        {{imprint.display_title}}
    </div>
{% endif %}

{% if imprint.date_of_publication or imprint.place %}
<div>
    <strong>Published</strong>
    {% if imprint.date_of_publication %}
        {{imprint.date_of_publication}}{% if imprint.place %},{% endif %}
    {% endif %}
    {% if imprint.place %}
        {{imprint.place}}
    {% endif %}
</div>
{% endif %}
 
<a class="pull-right small" href="/footprint/{{footprint.id}}/">
    details <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
</a>
 
{% endwith %}