{% extends 'base.html' %}
{% load compress %}

{% block title %}Detail{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}jquery-ui-1.11.2/jquery-ui.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
{% endblock %}

{% block extrahead %}
    <link href="{{STATIC_URL}}select2-3.5.2/select2.css" rel="stylesheet" />
    {% comment %}
        inline styles for this branch to prevent styling conflicts
    {% endcomment %}
    <style>
        .object-detail .breadcrumb a {
            text-transform: none;
        }

        .separator {
            border-bottom: dotted black 1px;
            padding-bottom: 5px;
        }
        
        .connect-record-prompt {
            width: 25%;
            min-width: 250px;
        }
        
        .connect-record-prompt p {
            margin-bottom: 20px;
        }
        
        .connect-record-prompt span.emphasis {
            font-size: 125%;
            font-weight: 400;
        }

        .connect-record-prompt a {
            font-size: 125%;
        }
        
        #connect-records-modal form .form-group .error-block {
            display: none;
            color: #a94442;
            margin: 5px 0 0 0;
        }

        #connect-records-modal .form-group.has-error .error-block {
            display: block;
        }
        
        #connect-records-modal .page2 ul {
            margin: 20px 0 0 0;
        }
        #connect-records-modal .page2 ul li {
            margin-bottom: 20px;
        }
        #connect-records-modal .page2 ul li .separator {
            border-bottom: 0;
        }
        .edit-digital-object {
            margin-top: 5px;
        } 
        .toggle-edit-digital-object {
            margin-top: -12px;
            margin-bottom: 5px;
        }
    </style>
    
    {% include "xeditable/actor.html" %}
    {% include "xeditable/author.html" %}
    {% include "xeditable/digitalobject.html" %}
    {% include "xeditable/imprint_title.html" %}
    {% include "xeditable/place.html" %}
    {% include "xeditable/publisher.html" %}
    {% include "xeditable/work_title.html" %}
    {% include "xeditable/work_identifier.html" %}
    {% include "xeditable/imprint_identifier.html" %}
    {% include "clientside/footprint.html" %}
    {% include "clientside/footprint_book.html" %}
    {% include "clientside/footprint_carousel.html" %}
    {% include "clientside/footprint_connect_confirm.html" %}
    {% include "clientside/footprint_progress.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}js/plupload/plupload.full.min.js"></script>
    <script src="{{STATIC_URL}}tinymce/tinymce.min.js"></script>

    {% compress js %}
        <script src="{{STATIC_URL}}select2-3.5.2/select2.js"></script>
        <script src="{{STATIC_URL}}jquery-ui-1.11.2/jquery-ui.js"></script>
        <script src="{{STATIC_URL}}bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="{{STATIC_URL}}js/xeditable/bootstrap-editable-actor.js"></script>
        <script src="{{STATIC_URL}}js/xeditable/bootstrap-editable-digitalobject.js"></script>
        <script src="{{STATIC_URL}}js/xeditable/bootstrap-editable-identifier.js"></script>
        <script src="{{STATIC_URL}}js/xeditable/bootstrap-editable-place.js"></script>
        <script src="{{STATIC_URL}}js/xeditable/bootstrap-editable-title.js"></script>
        <script src="{{STATIC_URL}}js/app/footprint-detail.js"></script>
    {% endcompress %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var editView = new FootprintView({
                el: jQuery('div.object-detail'),
                footprint: {'id': '{{footprint.id}}'},
                book_copy: {'id': '{{footprint.book_copy.id}}'},
                bookTemplate: jQuery('#book-detail-template'),
                detailTemplate: jQuery('#footprint-detail-template'),
                connectTemplate: jQuery('#connect-confirm-template'),
                carouselTemplate: jQuery('#carousel-template'), 
                progressTemplate: jQuery('#progress-sidebar-template'),
                baseContext: {
                    all_languages: [{% for language in languages %}
                                    {value: '{{language.id}}', text: "{{language.name}}"}{% if not forloop.last %},{% endif %}
                                    {% endfor %}],
                    all_mediums:  [{% for medium in footprint.MEDIUM_CHOICES %}
                                   {value: '{{medium}}', text: "{{medium}}"}{% if not forloop.last %},{% endif %}
                                   {% endfor %}],
                    editable: {% if editable %}true{% else %}false{% endif %},
                    csrf_token: '{{csrf_token}}',
                    static_url: '{{STATIC_URL}}',
                    is_bare:  {% if footprint.is_bare %}true{% else %}false{% endif %},
                    work_id: '{{footprint.book_copy.imprint.work.id}}'
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="footprint object-detail">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <img class="pull-left footicon" src="{{STATIC_URL}}img/footprint.png" />
                    <span class="pull-left object-title" data-name='display-title'>{{footprint.title|truncatewords:15}}</span>
                    <div class="clearfix"></div>
                </h1>
                <div class="footprint-detail" style="display: none"></div>
                <div class="book-detail" style="display: none"></div>
            </div>
            <div class="col-md-4">
                {% if footprint.is_bare and editable %}
                    <div data-spy="affix" class="connect-record-prompt">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4>Ready to get started?</h4>
                                <p class="info">This footprint has minimal information. Help complete this record in two ways.</p>
                                <p>
                                    <a href="javascript:void(0);" class="connect-records">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Connect
                                    </a> 
                                    this footprint to an existing literary work, imprint or physical copy.
                                </p>
                                <p>
                                    <span class="emphasis"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Answer</span> 
                                    questions about people, places and events in each section.
                                </p>
                             </li>
                         </ul>
                    </div>
                {% else %}
                    <div class="progress-detail"></div>
                {% endif %}
            </div>
        </div>
        
        {% include "main/footprint_connect.html" %}
    
        <div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="Confirm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="carousel-modal" tabindex="-1" role="dialog" aria-labelledby="Carousel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
