<div class="separator">
    <div>
        <b>
        {% if not imprint.display_title %}
            Imprint
        {% else %}
            {{imprint.display_title}}
        {% endif %}
        </b>
    </div>
    {% if imprint.date_of_publication or imprint.place %}
    <div>
        Published
        {% if imprint.date_of_publication %}
            {{imprint.date_of_publication}}{% if imprint.place %},{% endif %}
        {% endif %}
        {% if imprint.place %}
            {{imprint.place}}
        {% endif %}
    </div>
    {% endif %}
</div>
