<div class="separator">
    <div class="imprint-description-title">
        <strong>Title</strong>&nbsp;
        {% if not imprint.display_title %}
            Imprint
        {% else %}
            {{imprint.display_title}}
        {% endif %}
    </div>
    {% if imprint.publication_date or imprint.place %}
    <div class="imprint-description-published">
        <strong>Published</strong>
        {% if imprint.publication_date %}
            {{imprint.publication_date}}{% if imprint.place %},{% endif %}
        {% endif %}
        {% if imprint.place %}
            {{imprint.place}}
        {% endif %}
    </div>
    {% endif %}
</div>
