{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Footprints</h1>
    </div>
    
    {% if not request.user.is_anonymous %}
        <div class="row">
            <div class="col-md-9">
                <h3>Record</h3>
                <p>Sed posuere facilisis quam, eget ultricies justo sodales vitae. Nulla vestibulum nec dolor sed tincidunt. Pellentesque feugiat, metus non sodales vehicula, arcu nibh varius urna, at porttitor nunc orci eget odio. </p>
                <a href="/record/" class="btn btn-primary">Get Started</a>
                </p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
