{% extends 'base.html' %}
{% load waffle_tags %}

{% block title %}Jewish Books Through Time and Place{% endblock %}

{% block description %}Footprints is a database that traces the history and movement of Jewish books since the inception of print.{% endblock %}

{% block seosettings %}
<!-- DCMI Metadata -->
<meta name="DC.Title" content="Footprints: Jewish Books Through Time and Place" />
<meta name="DC.Description" content="Footprints is a database that traces the history and movement of Jewish books since the inception of print." />
<meta name="DC.Publisher" content="Columbia University Center for Teaching and Learning" />

<!-- JSON Structured Data-->
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{request.build_absolute_uri}}",
    "name": "Footprints: Jewish Books Through Time and Place",
    "image": "{% spaceless %}{{STATIC_URL}}img/footprints_opengraph.jpg{% endspaceless %}",
    "about": "Footprints is a database that traces the history and movement of Jewish books since the inception of print.",
    "publisher": "Columbia University Center for Teaching and Learning",
    "keywords": "Hebrew books, Provenance, Jewish books, Jewish, Nazi-looted books, Hebrew Incunabula, Lost Jewish books, Footsteps, Sefarim, Sefer, Seforim, Old books, Ancient Jewish books"
}
</script>
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Footprints: Jewish Books Through Time and Place" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% spaceless %}{{STATIC_URL}}img/footprints_opengraph.jpg{% endspaceless %}" />
    <meta property="og:image:alt" content="Footprints: Jewish Books Through Time and Place logo">
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:description" content="Footprints is a database that traces the history and movement of Jewish books since the inception of print." />
{% endblock %}

{% block twittercard %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Footprints_Heb" />
    <meta name="twitter:title" content="Footprints: Jewish Books Through Time and Place" />
    <meta name="twitter:description" content="Footprints is a database that traces the history and movement of Jewish books since the inception of print." />
    <meta name="twitter:image" content="{% spaceless %}{{STATIC_URL}}img/footprints_opengraph.jpg{% endspaceless %}" />
    <meta name="twitter:image:alt" content="Footprints: Jewish Books Through Time and Place logo" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            if (window.location.href.indexOf('next=') > 0) {
                jQuery("#login-link").trigger('click');
            };
        });
    </script>
{% endblock %}

{% block container_header_ex %}front{% endblock %}
{% block logo %}{% endblock %}
{% block branding %}
    <img class="img-responsive" src="{{STATIC_URL}}img/fp_header_logo_center.png" alt="Footprints" />
{% endblock %}

{% block outercontainer %}
    <div class="container container-pl home" id="outer-container">
        <div class="content">
            {% block primarynav %}{% endblock %}
            {% block pagemode %}{% endblock %}
            <div class="row">
              <div class="col-md-8 home-intro">
                  <div class="home-intro-one">
                      Footprints traces the history and movement of Jewish books since the inception of print.
                  </div>
                  <div class="home-intro-two">
                      <p>The history of the book is an important part of humanities scholarship. Especially as more books are digitized, scholars, librarians, collectors, and others have become increasingly attuned to the significance of individual books as objects with their own unique story. Jewish books in particular tell a fascinating story about the spread of knowledge and faith in a global Diaspora.
                      </p>
                      <p>
Every literary work represents a moment in time and space where an idea was conceived and documented. But the history of a book continues long after composition as it is bought, sold, shared, read, confiscated, stored, or even discarded. This history is the essence of Footprints.</p>

                  </div>
              </div>
              {% flag "enable_search" %}
              <div class="col-md-4 home-search">
                  <div class="home-search-one">Search for Footprints</div>
                  <div class="home-search-two">
                      A footprint is a record of the material presence of a literary work at a particular time and place, such as:
                      <ul>
                          <li>an extant copy of an imprint</li>
                            <li>a copy owned in the past whose whereabouts are unknown</li>
                      </ul>
                      <form method="get" action="{% url 'search' %}">
                          <input type="text" name="q" class="home-search-text" placeholder="Titles, People, Places" />
                          <input type="hidden" name="sort_by" value="ftitle" id="id_sort_by">
                          <input type="hidden" name="direction" value="asc" id="id_direction">
                          <input type="hidden" name="page" value="1" id="id_page">
                          <input type="submit" class="home-search-submit" value="Search" />
                      </form>
                  </div>
              </div>
              {% endflag %}
           </div> <!-- /.row (first)-->
           <div class="home-trailer">
                <div class="home-trailer-container">
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        referrerpolicy="strict-origin-when-cross-origin"
                        src="https://www.youtube.com/embed/2qJPxzgPlzQ"
                        title="Footprints | Jewish Books Through Time and Place"
                        class="embed-responsive-item"
                        frameborder="0"
                        allowfullscreen></iframe>
                    </div>
                </div>
                <div class="home-trailer-text">
                    <p>
                    Footprints is a database to track the circulation of printed "Jewish books."  Much information about the movement of early printed books exists, but in scattered form. All of these individual pieces of data can connect to each other in order to build up a composite view of the movement of Jewish texts and ideas from place to place and across time.
                    </p>
                </div>
                <div class="clearfix"></div>
           </div>
           <div class="row">
               <div class="col-md-12 home-visual">
                   <img src="{{STATIC_URL}}img/fp_home_ex_visual.jpg">
                   <a href="https://footprints.ctl.columbia.edu/timeline/sefer_ha-bahur/"><div class="map-loc-1"></div></a>
                   <a href="https://footprints.ctl.columbia.edu/timeline/shevet_yehuda/"><div class="map-loc-2"></div></a>
                   <a href="https://footprints.ctl.columbia.edu/timeline/josippon/"><div class="map-loc-3"></div></a>
               </div>
               <div class="home-visual-desc">Click on the titles on the map to visualize the journey of Jewish books <span class="emph">across the world</span> and <span class="emph">through time</span>.</div>
               <div class="col-md-12 visual-mobile">
                   <div class="mobile-desc">Click on these Footprint titles to visualize the journey of Jewish books across the world and through time.</div>
                   <ul>
                   <a href="https://footprints.ctl.columbia.edu/timeline/sefer_ha-bahur/"><li>Sefer Ha-bahur (1892)</li></a>
                   <a href="https://footprints.ctl.columbia.edu/timeline/josippon/"><li>Josippon (1589)</li></a>
                   <a href="https://footprints.ctl.columbia.edu/timeline/shevet_yehuda/"><li>Shevet Yehuda (1829)</li></a>
                   </ul>
               </div>
           </div> <!-- /.row (second)-->
           <div class="row base-links">
               <div class="col-md-4 base-1">
                   <div class="link-lg">
                       <a href="/contact/">Contact Us</a>
                   </div>
               </div>
               <div class="col-md-4 base-2">
                   <div class="link-lg">
                       <a href="http://edblogs.columbia.edu/footprints">Footprints Blog</a>
                   </div>
               </div>
               <div class="col-md-4 base-3">
                   <div class="link-lg">
                       <a href="/search/?sort_by=added&direction=desc">Recent Footprints</a>
                   </div>
               </div>
           </div>
        </div> <!-- /.content -->
    </div> <!-- /.container-pl -->
{% endblock %}

<!--endblock content -->
