{% extends 'base.html' %}

{% block title %}Pathmapper{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/pathmapper-tool.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}pathmapper-tool{% endblock %}
{% block headercontainer %}container-fluid{% endblock %}
{% block contentcontainer %}container-fluid{% endblock %}
{% block footercontainer %}container-fluid{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "clientside/google_map_template.html" %}
    {% include "clientside/search_template.html" %}
{% endblock %}

{% block content %}
    <div id="search-container">
        <search-widget v-model="criteria" :total="total" />
    </div>

    <div id="map-container">
        <google-map />
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script data-main="{{STATIC_URL}}js/app/pathmapper.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}
