<ul>
    {% if footprint.medium == 'Bookseller/auction catalog (1850-present)' %}
        {% if footprint.call_number == None or footprint.call_number|length < 0 %}
            <li class="small err-call-number">Catalog's call number is empty</li>
        {% endif %}
    {% endif %}
    {% if not footprint.book_copy.imprint.has_bhb_number %}
        <li class="small err-bhb-number">Imprint has no BHB number</li>
    {% endif %}
    {% if footprint.narrative|length < 1 %}
        <li class="small err-narrative">Narrative is empty</li>
    {% endif %}
    {% if footprint.percent_complete < 50 %}
        <li class="small err-percent-complete">
            Percent complete is less than 50% ({{footprint.percent_complete}}%)
        </li>
    {% endif %}
</ul>
