{% extends 'base.html' %}
{% load moderation %}

{% block title %}Moderation{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/tablesorter/jquery.tablesorter.combined.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.table-moderation').bind('filterEnd', function(event, config) {
                jQuery('.footprint-count').html(jQuery('.table-moderation tbody tr').not('.filtered').length);
            });

            jQuery('.table-moderation').tablesorter({
                headers: {
                    '.nosort': {
                        sorter: false
                    }
                },
                sortList: [[0,0]],
                dateFormat : "mmddyyyy", // set the default date format
                widgets: ['filter'],
                widgetOptions: {
                    filter_searchDelay: 0,
                    filter_functions: {
                        5: {
                            "Catalog's call number is empty":
                                function (e, n, f, i, $r, c, data) {
                                    return $r.find('.err-call-number').length > 0;
                                },
                            "Imprint has no BHB number": 
                                function (e, n, f, i, $r, c, data) {
                                    return $r.find('.err-bhb-number').length > 0;
                                },
                            "Narrative is empty":
                                function (e, n, f, i, $r, c, data) {
                                    return $r.find('.err-narrative').length > 0;
                                },
                            "Percent complete is less than 50%":
                                function (e, n, f, i, $r, c, data) {
                                    return $r.find('.err-percent-complete').length > 0;
                                }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Moderation</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-right"><span class="footprint-count">{{footprints.count}}</span> footprints found</div>
        </div>
        <div class="clearfix"></div><br />
        <table class="table table-striped table-moderation">
            <thead>
                <tr>
                    <th data-filter="false" data-sort-by="title" class="sortable title" style="width: 20%">
                        Footprint
                    </th>
                    <th data-filter="false" data-sort-by="created" class="sortable created">Created</th>
                    <th data-filter="false" data-sort-by="createdby" class="sortable createdby">Created By</th>
                    <th data-filter="false" data-sort-by="modified" class="sortable modified">Last Modified</th>
                    <th data-filter="false" data-sort-by="modifiedby" class="sortable modifiedby">Last Modified By</th>
                    <th data-sorter="false" data-placeholder="All Rows">Errors</th>
                </tr>
            </thead>
            <tbody>
            {% for footprint in footprints %}
                <tr>
                    <td><a href="{% url 'footprint-detail-view' footprint.id %}">{{footprint.title}}</a></td>
                    <td>{{footprint.created_at|date:"m/d/Y"}}</td>
                    <td>{{footprint.created_by.get_full_name}}</td>
                    <td>{{footprint.modified_at|date:"m/d/Y"}}</td>
                    <td>{{footprint.last_modified_by.get_full_name}}</td>
                    <td class="col-errors">
                    {% moderation_flags footprint as the_errors %}
                    {% for error in the_errors %}
                        {% if forloop.first %}<ul>{% endif %}
                        <li class="small err-call-number">{{error}}</li>
                        {% if forloop.last %}<ul>{% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}