{% extends 'base.html' %}

{% block title %}Written Work{% endblock %}

{% block css %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block js %}
{% endblock %}

{% block extrajs %}
    {% comment %}assets that do not need to be compressed{% endcomment %}
{% endblock %}

{% block content %}
{% with work=object %}

    <div class="object-detail writtenwork">
        <div class="row">
            <div class="col-md-8">
                <div class="breadcrumb">WRITTEN WORK</div>
                <h2>
                    <span class="glyphicon glyphicon-book pull-left" aria-hidden="true"></span>
                    <span class="pull-left object-title">&nbsp;{{work}}</span>
                    <div class="clearfix"></div>
                </h2>
                <br />
                {% if work.actor.count > 0 %}
                <dl class="dl-horizontal">
                    {% for actor in work.actor.all %}
                        <dt>{{actor.role}}</dt><dd><a href="/person/{{actor.person.id}}/">{{actor}}</a></dd>
                    {% endfor %}
                </dl>
                {% endif %}
                
                {% if work.notes %}
                    <h3>Notes</h3>
                    {{work.notes|safe}}
                {% endif %}

                <div class="breadcrumb">
                    IMPRINTS
                </div>

                <ul>
                {% for imprint in work.imprint_set.all %}
                    <li>
                        {{imprint.description|safe}}
                    
                        {% if imprint.bookcopy_set.count > 0 %}
                            <ol>
                            {% for copy in imprint.bookcopy_set.all %}
                                <li>{{copy.description|safe}}</li>
                                    {% if copy.footprint_set.count > 0 %}
                                        <ul>
                                        {% for fp in copy.footprint_set.all %}
                                            <li>
                                                Footprint: <a href="/footprint/{{fp.id}}/"> {{fp.title}}</a>
                                                <div>{{fp.description}}</div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                            {% endfor %}
                            </ol>
                        {% endif %}
                        <br /><br />
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <div class="sidebar-box">
                    {% with complete=work.percent_complete %}
                        <h4>Record Progress</h4>
                        <div>
                            <div class="progress pull-left">
                                <div class="progress-bar" role="progressbar"
                                    aria-valuenow="{{complete}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width: {{complete}}%;">
                                </div>
                            </div>
                            <div class="progress-report pull-right">{{complete}}% complete</div>
                        </div>
                    {% endwith %}
                    <div class="clearfix"></div>
                </div>
            </div>        
        </div>
    </div>
{% endwith %} 
{% endblock %}
