{% extends 'base.html' %}
{% load batchrowtags %}
{% load compress %}

{% block title %}Import{% endblock %}

{% block css %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{{STATIC_URL}}js/app/batchjob-detail.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var view = new BatchJobDetailView({
                    el: jQuery('.batch-job-detail'),
                    baseUpdateUrl: '{% url "batchrow-update-view" 0 %}'
                });
            });
        </script>
    {% endcompress %}   
{% endblock %}

{% block content %}
<div class="batch-job-detail row">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/batch/">Batch</a></li>
          <li class="active">Job {{object.id}}</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Batch Job</h1>
                </div>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>Processed</dt>
                    <dd>{{object.processed}}</dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>Created By</dt>
                    <dd>{{object.created_by}}</dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>Created At</dt>
                    <dd>{{object.created_at}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="batch-job-row-container">
            <h3>{{object.batchrow_set.count}} Records</h3>
            <table>
                {% for field in fields %}
                    <tr>
                        <td class="field-name">
                            {% if field.null and field.blank %}
                                {{field.verbose_name|safe}}
                            {% else %}
                                <b>{{field.verbose_name|safe}}</b>
                            {% endif %}
                            
                        </td>
                        {% for row in object.batchrow_set.all %}
                            {% field_value row field as the_value %}
                            <td class="{% validate_field_value field the_value %}"
                                data-record-id="{{row.id}}"
                                data-value="the_value">
                                <div>
                                    <input name="{{field.name}}" type="text"
                                        class="form-control input-sm"
                                        placeholder="{{field.verbose_name|striptags}}"
                                        value="{{the_value}}" />
                                    <p class="error-block small pull-right">
                                        {{field.help_text|safe}}
                                    </p>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td class="field-name"></td>
                    {% for row in object.batchrow_set.all %}
                        <td data-record-id="{{row.id}}">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-sm has-spinner update-record"
                                 data-loading-text="<span class='glyphicon-left glyphicon glyphicon-refresh spinning'></span>Updating...">
                                    Update
                                </button>
                            </div>
                        </td>
                    {% endfor %}
                    </tr>
                </tr>             
                
            </table>
        </div>
    </div>
    
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="Upload CSV">
        <div class="modal-dialog" role="document">
            <div class="modal-content fp-section">
                <h3>Success</h3>
                <div class="modal-body">The record has been saved. All the data validates.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="Upload CSV">
        <div class="modal-dialog" role="document">
            <div class="modal-content fp-section">
                <h3>Error</h3>
                <div class="modal-body">The record has been saved, but the data does not validate. Please correct the errors and try again.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}