{% extends 'base.html' %}
{% load batchrowtags %}

{% block title %}Import{% endblock %}

{% block css %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block js %}
        <script src="{{STATIC_URL}}js/app/batchjob-detail.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var view = new BatchJobDetailView({
                    el: jQuery('.batch-job-detail'),
                    baseUpdateUrl: '{% url "batchrow-update-view" 0 %}'
                });
            });
        </script>
{% endblock %}

{% block content %}
<div class="batch-job-detail">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="/batch/">Batch</a></li>
              <li class="active">Job {{object.id}}</li>
            </ol>
            <div class="row">
                <div class="col-md-4">
                    <div class="page-header">
                        <h1>Batch Job</h1>
                    </div>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Processed</dt>
                        <dd>{{object.processed}}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Created By</dt>
                        <dd>{{object.created_by}}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Created At</dt>
                        <dd>{{object.created_at}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'batchjob-error-view' object.id %}" method="post" >
            {% csrf_token %}
            <button id="delete-errors" type="submit" class="pull-right btn btn-danger"
                    style="margin-right: 1em;">Remove Errors</button>
        </form>
        <form action="{% url 'batchjob-error-view' object.id %}" method="get" >
            {% csrf_token %}
            <button id="download-errors" type="submit" class="pull-right btn btn-warning" 
                style="margin-right: 1em;">Download Errors</button>
        </form>
        <form action="{% url 'batchjob-update-view' object.id %}" method="post">
            {% csrf_token %}
            {% if object.processed %}
                <button disabled="disabled" type="button" class="pull-right btn btn-primary"
                    style="margin-right: 1em;">Processed</button>
            {% else %}
                <button id="process-job" type="button" class="pull-right btn btn-primary"
                    style="margin-right: 1em;">Process</button>
            {% endif %}
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div>{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}
     <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Data Validation</strong> Errors must be corrected before data can be processed. 
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="batch-job-row-container">
                {% with rows=object.rows %}
                <h3>{{object.batchrow_set.count}} Records</h3>
                <table>
                    {% if object.processed %}
                        <tr>
                        <td class="field-name">Created Footprint</td>
                        {% for row in rows %}
                            <td data-record-id="{{row.id}}" class="valid">
                                <div>
                                    {% if row.footprint %}
                                        <a target="_blank" href="{% url 'footprint-detail-view' row.footprint.id %}">{{row.footprint.id}}</a>
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                     {% endif %}
                    <tr>
                        <td class="field-name">Similar Footprints</td>
                        {% for row in rows %}
                            {% for id in row.similar_footprints %}
                                {% if forloop.first %}
                                    <td data-record-id="{{row.id}}" class="similar has-warning">
                                        <div class="small">
                                            <p>Review similar footprints to prevent record duplication</p>
                                {% endif %}
                                    <a target="_blank" href="{% url 'footprint-detail-view' id %}">{{id}}</a>{% if not forloop.last %},{% endif %}
                                 {% if forloop.last %}
                                       </div>
                                    </td>
                                 {% endif %}
                            {% empty %}
                                <td data-record-id="{{row.id}}">
                                    <div class="small">No similar footprints</div>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="field-name">Imprint Integrity</td>
                        {% for row in rows %}
                            {% with msg1=row.check_imprint_integrity %}
                                <td data-record-id="{{row.id}}" class="
                                    {% if msg1 %}
                                        invalid has-error">
                                        <div class="small"><p>{{msg1|safe}}</p></div>
                                    {% else %}
                                        valid"><div class="small">No integrity issues.</div>
                                    {% endif %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="field-name">Book Copy Integrity</td>
                        {% for row in rows %}
                            {% with msg1=row.check_book_copy_integrity %}
                                <td data-record-id="{{row.id}}" class="
                                    {% if msg1 %}
                                        similar has-warning">
                                        <div class="small"><p>{{msg1|safe}}</p></div>
                                    {% else %}
                                        valid"><div class="small">No integrity issues.</div>
                                    {% endif %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="field-name">Row Id</td>
                        {% for row in rows %}
                            <td class="valid" data-record-id="{{row.id}}"><div>{{row.id}}</div></td>
                        {% endfor %}
                    </tr>
                    {% for field in fields %}
                        <tr>
                            <td class="field-name">
                                {% if field.null and field.blank %}
                                    {{field.verbose_name|safe}}
                                {% else %}
                                    <b>{{field.verbose_name|safe}}</b>
                                {% endif %}
                            </td>
                            {% for row in rows %}
                                {% field_value row field as the_value %}
                                <td class="{% validate_field_value row field the_value %}"
                                    data-record-id="{{row.id}}"
                                    data-value="the_value">
                                    <div>
                                        <input name="{{field.name}}" type="text"
                                            class="form-control input-sm"
                                            placeholder="{{field.verbose_name|striptags}}"
                                            value="{{the_value}}" 
                                            {% if object.processed %}
                                                disabled="disabled"
                                            {% endif %} />
                                        <p class="error-block small pull-right">
                                            {{field.help_text|safe}}
                                        </p>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    {% if not object.processed %}
                    <tr>
                        <td class="field-name"></td>
                        {% for row in rows %}
                            <td data-record-id="{{row.id}}">
                                <div class="success-message" style="display: none;">
                                    The record has been saved. The record data validates.
                                </div>
                                <div class="error-message" style="display: none;">
                                    The record has been saved, but the record data does not validate. Please correct the errors and try again.
                                </div>
                                <div>
                                    <form class="pull-right" action="{% url 'batchrow-update-view' row.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="pull-right btn btn-primary btn-sm has-spinner update-record">
                                            Update
                                        </button>
                                    </form>
                                    <form class="pull-right" action="{% url 'batchrow-delete-view' row.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default btn-white btn-sm delete-record">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </table>
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="Upload CSV">
        <div class="modal-dialog" role="document">
            <div class="modal-content fp-section">
                <h3>Confirm</h3>
                <div class="modal-body">Are you sure you want to delete this record?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-process-modal" tabindex="-1" role="dialog" aria-labelledby="Upload CSV">
        <div class="modal-dialog" role="document">
            <div class="modal-content fp-section">
                <h3>Confirm</h3>
                <div class="modal-body">Are you sure you want to process this job?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}