{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="password-reset">
    <h1>{% trans "Password reset" %}</h1>
    
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    
    <p>Note: If you are using a Columbia UNI. <a href="http://cuit.columbia.edu/cuit/manage-my-uni">Click here</a> to manage your UNI password and preferences</p>
    <br />
    <form action="." method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} &nbsp;<input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" /></p>
    </form>
</div>
{% endblock %}
