{% extends "base.html" %}
{% load i18n %}
{% block title %}&mdash; Activation email sent{% endblock %}

{% block content %}
<h2 class="pagetitle signuptitle">Thank you!</h2>

<div><p>You have almost completed your Footprints account creation process.</p></div>

<div><p>We've just sent you an email. Please check it and click on the confirmation link to activate your Footprints account.</p></div>

<div><p>Please send us an email at footprints@columbia.edu to let us know and discuss levels of access. If you register, you are agreeing to our <a href="/terms/">Terms and Conditions</a>.</p></div>

{% endblock %}
